<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Presentation Layer Overview</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "developer/css/base.css" %}" rel="stylesheet">

    </head>
	<body>
		<div class="last-modified-div">Last Modified: October 29, 2015</div>
		<nav><a href="/developer/">Overview</a> > </nav>
		<h1>Presentation Layer Overview</h1>
		<ul>
			<li><a href="/developer/presentation/model/">Model JavaScript</a></li>
			<li><a href="/developer/presentation/styles/">Styles</a></li>
			<li><a href="/developer/presentation/views/">Views JavaScript</a></li>
		</ul>
		<article>
		<title>Overview</title>
		<p>This page provides an overview of the presentation layer of the BC&YI platform.</p>
		<p>The presentation layer is a set of JavaScript objects that access the middle tier
		to provide useful functionality for web pages that implement workflows that utilize
		this data.</p>
		</article>
	</body>
</html>