/* The container for a trio of items. */
.site-trio-container {
	display: table;
	width: 100%;
}

/* An item in the trio that fills as much space as possible, pushing other items. */
.site-trio-fill {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
	text-align: center;
	margin: 0;
}

/* An item in a trio that is clipped to its contents. */
.site-trio-clipped {
	display: table-cell;
    vertical-align: middle;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

/* For text that responds to touches or clicks */
.site-active-text, .site-disabled-text {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.site-active-text {
	color: #2C55CC;
}

.site-active-text:hover {
	text-decoration: none;
	cursor: pointer;
	color: #2222FF;
}

.site-disabled-text {
	color: #117788;
	cursor: default;
}

.site-disabled-text:hover {
	text-decoration: none;
}

/* Only on the phone */
@media (max-width: 767px) {
	.navbar-brand {
		display: none;
	}
	
	.site-xs-hidden {
		display: none;
	}
	
	.site-nav-edge-link {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

/* Alerts are styled here and in consentrecords. */	
/* This makes alert fall on top and over other items. */
body > div.alert {
	width: calc(100% - 30px);
	position: fixed;
	border-radius: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

body > div.alert > button:focus {
	outline: none;
}

/* This corrects a problem caused by bootstrap that introduces a gap below alerts when they are visible.
	The problem is that it leads to an invalid outerHeight for the .alert container.
 */
.alert {
	margin-bottom: 0px;
}

body > div.alert > span {
	display: block;
}

.site-title {
	font-size: medium;
	min-height: 40px;
	padding-top: 9px;
	padding-bottom: 2px;
	flex-grow: 100;
	flex-shrink: 100;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	margin: 0 auto;
	font-weight: 600;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

