
.form-simple {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-simple .form-simple-heading {
  margin-bottom: 10px;
}
.form-simple .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
/* 
  padding: 10px;
  font-size: 16px;
 */
}
.form-simple .form-control:focus {
  z-index: 2;
}
.form-simple .div-success {
  margin-top: 10px;
}
.password-control {
	width: 87%;	/* To account for confirmation check mark */
}
.stacked-ok-button {
  margin-top: 20px;
}
.stacked-cancel-button {
  margin-top: 10px;
}
.group-row-item {
  margin-bottom: 0px;
}
