panel#id_sign_in_panel {
	background: white;
}

panel#id_sign_in_panel hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #ccc
}

.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .checkbox {
	margin: 0;
	font-weight: normal;
}
.form-signin .checkbox label {
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
	font-weight: normal;
	cursor: pointer;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

panel#id_sign_in_panel .other-action {
  max-width: 330px;
  padding-left: 15px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  margin: 0 auto;
}
panel#id_sign_in_panel .other-action span {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
panel#id_sign_in_panel .other-action a {
	display: inline-block;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
