<body>
	<style>
		body {
			font-family: SF-UI,Helvetica Neue,Arial,Helvetica,sans-serif;
			font-size: 14px;
		}
	</style>
	<p>Hi {{ salutation }}-</p>

	<p>Last month, you wrote down a goal at one of the MLK Summer Scholar seminars. Will you 
	take the next step and build a path to reach your goal?</p>

	<p>Your goal is waiting for you at pathadvisor.com. 
	Just <a href="{{hostURL}}user/passwordreset/{{ resetKey }}">activate your
	path</a> and fill a few more steps along the way.</p>

	<p>No one can see your path until you are ready to share it. Make your path or other 
	information about you visible <a href="{{hostURL}}settings">here</a>.</p>

	<p>One last thing. As an extra prize, we are giving away $5 Amazon gift card to the first 
	hundred people who share their paths in PathAdvisor this month. To win the prize, you must add
	at least two goals or experiences on your path and give a friend permission to read your path.
	If you share your path with a friend and your friend shares their path with you, you 
	each get a gift card!</p>

	<p>Have fun,<br>
	Michael</p>

	<p>Michael Rubenstein
	<br><small>Chief Path Advisor</small></p>
	<img src='{{hostURL}}static/consentrecords/png/Email LOGO 1.png' width="100"></img>
	<br><a href="{{hostURL}}">www.pathadvisor.com</a>
</body>
