<body>
	<style>
		body {
			font-family: SF-UI,Helvetica Neue,Arial,Helvetica,sans-serif;
			font-size: 14px;
		}
	</style>
	<p>There has been a request to reset your password at pathadvisor.com.</p>
	<p>Click <a href="{{ resetURL }}">here</a> to reset your password.</p>

	<p>Thank you for participating in PathAdvisor.</p>
	<p>Michael Rubenstein
	<br><small>Director of Support</small></p>
	<img src='{{ staticURL }}consentrecords/png/Email LOGO 1.png' width="100"></img>
	<br><a href="www.pathadvisor.com">www.pathadvisor.com</a>
</body>
