* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  line-height: inherit;
}

label {
  display: inline-block;
  max-width: 100%; /* Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141) */
}

/* Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* This makes alert fall on top and over other items. */
.alert {
  width: calc(100% - 30px);
  position: fixed;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert > button:focus {
	outline: none;
}

.alert > span {
	display: block;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.text-danger {
	color:#a94442
}

a.text-danger:focus,a.text-danger:hover {
	color:#843534
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
  }

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #2C55CC;
	border-radius: 10px;
}

.badge:empty {
	display: none;
}

.badge:hover {
	background-color: #2222FF;
}

/* For text that responds to touches or clicks */
.site-active-text {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	color: #2C55CC;
	cursor: pointer;
}

.site-active-text:hover {
	text-decoration: none;
	color: #2222FF;
}

.site-disabled-text {
	opacity: 0.5;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;
}
body {
	font-family: SF-UI, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	line-height: 1.42857143;
	color: #333;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
body>panel {
	height: 100%;
	width: 100%;
	display: block;
	position: fixed;
	overflow-y: hidden;
}
panel.site-panel>nav {
	background: #F8F8F8; /* #D1E1FF; */
	border: 1px solid #e7e7e7;
	border-radius:0px;
	margin-bottom: 0px;
}
panel.site-panel>nav>div:first-child {
	width: 100%;
	min-height: 40px;
	display: flex;
}

panel.initial {
	width: 100%;
	height: 100%;
	max-height: 100%;
}

.panel-fill {
	position: relative;
	width: 100%;
}

.vertical-scrolling {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.all-scrolling {
	position: relative;
	overflow-y: scroll;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.no-scrolling {
	overflow-y: hidden;
	overflow-x: hidden;
}

panel.list {
	background: #eee;
}
panel.view {
	background: white;
}
panel.edit {
	background: #eee;
}

/* Titles go in the lower center of the nav bar. */
.site-title {
	font-size: medium;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 100;
	flex-shrink: 100;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	margin: 0 auto;
	font-weight: 600;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.site-banner {
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.site-banner:only-of-type {
	font-size: 1.2em;
	font-weight: 600;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

panel>nav .left-link {
	max-width: calc(100% - 48px);	/* Subtract 48 pixels to ensure it doesn't run into the right link */
	text-align: left;
}
panel>nav .right-link {
	max-width: 100%;
	text-align: right;
}

panel>nav .right-link, panel>nav .left-link {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	min-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

.default-link {
	font-weight: 600;
}

/* Links go on the right or left over titles. */

nav .site-left-chevron {
	height: 18px;
}
.site-left-chevron-span {
	float: left;
	width: 18px;
	margin-top: -2px;
}
.site-left-chevron-span+div, .site-left-chevron-span+span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	margin-left: 18px;	/* Same as the width of the .site-left-chevron-span, above. */
}

.chevron-left-container.site-navbar-link {
	overflow-x: hidden;
	display: flex;
}

.site-navbar-link>svg.chevron-left {
	height: 18px;
	width: 12px;
	margin-top: 2px;
	margin-left: -6px;
	display: inline;
	float: left;
	fill: #2C55CC;
} 

.site-navbar-link>svg.chevron-left:hover {
	fill: #2222FF;
}

.site-navbar-link>svg.chevron-left+div, .site-navbar-link>svg.chevron-left+span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	margin-left: .3em;
	flex-shrink: 100;
} 

nav.transparentTop {
	width: 100%;
	position: absolute;
	top: 0px;
	opacity: 0.85;
}

nav.bottom {
	width: 100%;
	border-top: 1px solid #eee;
}

nav.transparentBottom {
	position: absolute;
	bottom: 0px;
	opacity: 0.85;
}

.panel-fill > p
{
	padding: 6px 12px;
	color: #777;
}
panel.view .panel-fill>header
{
	width: 100%;
	padding: 6px 12px;
	text-align: left;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
}
.loading
{
	position: relative;
	padding: 6px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.loading>span
{
	position: relative;
	display: inline-block;
}
.loading>span:first-child
{
	height: 20px;
}
.loading>span:last-child
{
	padding-left: 32px;
}

.no-results
{
	padding: 6px 12px;
}

button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance:none;
	background: transparent;
	border: 0;
	padding: 0;
	color: #2C55CC;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

button.site-active-text:hover {
	color: #2222FF;
}

.add-button {
	font-size: 30px;
	line-height: 16px;
	padding-bottom: 5px;
}
.row-button-group {
	margin-top: 12px;
	border-bottom: 1px solid #eee;
}
.row-button {
	position: relative;
	font-size: 15px;	/* To override the smaller button. */
	background: white;
	display: block;		/* To override inline-block from btn */
	width: 100%;
	border: 0;
	border-radius: 0;
}
.row-button:hover {
	background: #f8f8f8;
	opacity: 1.0;
}
ol.cell-items {
	margin: 0;				/* To override bootstrap ol style */
	font-size: 15px;
}
ol.cell-items {
	background: white;
}

button.add-item {
	text-align: left;
	padding: 0px;
}
button.add-item > div {
	margin-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.border-above {
	border-top: 1px solid #eee;
}
.border-below {
	border-bottom: 1px solid #eee;
}
section.cell {
	width: 100%;
	padding-left: 0px;	/* 0 px so that the edges of buttons go to the screen edge. */
	padding-right: 0px;
}

/* Display a label in a cell. Note that the label may or may not be contained in the
	top level of the cell. For example, see newExperiencePanel.css tag cells.
 */
.cell label {
    color: #222;
	font-size: 13px;
	font-weight: normal; 
	
	/* The following margin and padding allow for overlines. */
	margin: 0;
	padding: 6px 0px;
	margin-left: 12px;
}

.cell-border-below {
	margin-left: 12px;
	border-bottom: 1px solid #eee;
}

.cell.first {
	margin-top: 12px;
}

.cell.unique {
	background: white;
	display: flex;
	align-items: center;	/* Items should be aligned to the center because the label font is different from the data font. */
	-webkit-align-items: center;
}

.cell.unique>label {
	line-height: 1.5em;	/* The same as .cell.unique>ol */
}

.cell.unique.edit:last-of-type {
	border-bottom: 1px solid #eee;
}
*.overlined {
	border-top: 1px solid #eee;
}

.cell.unique>label.overlined {
    padding-top: 9px;	/* Extra padding on the top is needed for overlined items. */
}

.cell.action {
	font-size: medium;
	text-align: left;
}

.text-fill {
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.cell.unique.view>* {
	border-bottom: 1px solid #eee;
}

.cell.unique.view>label {
	margin-left: 12px;
	margin-right: auto;
	padding-left: 0px;
	padding-bottom: 7px;	/* An extra pixel so that borders line up properly. */
	vertical-align: middle;
}
.cell.unique>ol {
	overflow: hidden;
	width:auto;
	line-height: 1.5em; 
	vertical-align: middle;
	text-align: right;
}

.cell.unique>ol:first-child {
	text-align: left;
}

/* Add a border bottom to each child of the last element if the
	item list has something underneath it in the section (such as 
	an Add button).
 */
.cell.multiple.view>ol>li:last-child>* {
	border-bottom: 1px solid #eee;
}

.cell.multiple.edit>label {
	padding-top: 0px;	/* Set to 0px because there is already a margin of 12 pixels for each section. */
	font-size: 13px;
	font-weight: 500;
	padding-bottom: 2px;
}
.cell.multiple.edit > ol {
	border-top: 1px solid #eee;
	/* The bottom border is provided by the add-value button, below */
}
.description-text {
	color: #777;
	overflow-x: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}
panel.list .description-text {
	text-align: left;
}
.site-chevron-right {
	height: 14px;
	color: #777;
	padding-left: 12px;
	padding-right: 12px;
	align-self: center;
	-webkit-align-self: center;
}
.site-chevron-right+.description-text {
	margin-right: 18px;
}

li>div.description-text>div.documentation {
	padding: .5em 1em;
	font-size: 0.8em;
	color: #666;
}

li>div.description-text>div.title {
	font-weight: bold; 
}

li>div.description-text>div.title~div {
	font-size: 0.8em;
	color: #666;
}

.cell.edit.translation li select {
	width: 80px;
	margin-right: 12px;
	outline: none;
	align-self: center;
	-webkit-align-self: center;
}
li > .row-button {
	text-align: left;
}

.cell.unique>ol {
	flex-grow: 100;
}

/* If there is a label for a unique input item, right-align the input. */
.cell.unique.edit>label+ol input {
	text-align: right;
}

.cell.edit input[type=text],
.cell.edit input[type=number],
.cell.edit input[type=month],
.cell.edit input[type=email],
.cell.edit input[type=url],
.cell.edit input[type=time],
.cell.edit input[type=date] {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border: none;
	border-color: transparent;
}
.cell.edit input[type=text]:focus,
.cell.edit input[type=number]:focus,
.cell.edit input[type=month]:focus,
.cell.edit input[type=email]:focus,
.cell.edit input[type=url]:focus,
.cell.edit input[type=time]:focus,
.cell.edit input[type=date]:focus {
	outline: none;
}
.cell.edit input[type=month] {
	margin-right: 3px;
}

.cell.edit.unique.instance {
	font-weight: 400;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	position: relative;
	font-size: 15px;
	width: 100%;
	padding: 0px 0px;
}

.cell.edit.unique li>.switchery {
	align-self: center;
	margin: 0px 1em;
}

.left-expanding-div {
	overflow: hidden;
	width: auto;
	text-align: left;
}
.right-fixed-width-div {
	width: auto;
	float: right;
}
div.add-value {
	overflow: hidden;
	display: block;
	width: 100%;
	padding-left: 12px;
	border-bottom: 1px solid #eee;
	text-align: left;
	align-items: center;
	-webkit-align-items: center;
	background-color: white;
}

div.add-value>div {
	padding-top: 6px;
	padding-bottom: 6px;
}

.searchbar {
	background: #D3D3D3;
}
.search-input-container {
	display: block;
	overflow: hidden;
	width: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 6px;
}
.search-input {
	display: block;
	background: white;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 2px 6px;
	font-size: 0.9em;
}
.search-cancel-button {
	padding-left: 6px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	width: auto;
	float: right;
}

.info-button-container {
	align-self: center;
	-webkit-align-self: center;
	margin-right: 12px;
}

.info-button {
	background: transparent;
	cursor: pointer;
	border-color: #2C55CC;
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	color: #2C55CC;
	font-family: serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	width: 23px;
	height: 23px;
}
.info-button:focus {
	outline: none;
}

.success-feedback {
	font-size: 1.3em;
	color: #3c763d;
	margin-left: .3em;
	pointer-events: none;
}

span.checked {
	margin-left: 1em;
	padding-top: 0.4em;
	padding-right: 0.3em;
	background: transparent;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

button.delete > img {
	height: 1em;
	width: 1em;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

button.delete > div, .glyphicon-minus-sign {
	position: relative;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
	border: none;
	background: transparent;
	padding: 0px;
	outline: none;
	font-weight: bold;
	font-size: 1.0em;
	background-color: red;
	color: white;
	border-radius: 1em;
	height: 1em;
	width: 1em;
	line-height: 0.8em;
	text-align: center;
	vertical-align: middle;
}
button.delete > div:focus, .glyphicon-minus-sign:focus {
	outline: none;
}

button.delete {
	align-items: center;
	display: flex;
	outline: none;
}

ol.cell-items>li {
	display: flex;
	position: relative;	/* Relative position is needed to set the left edge of the item. */
	font-size: 15px;
	min-height: 30px;
	cursor: pointer;
}

ol.cell-items>li>.growable {
	flex-grow: 100;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* If the growable is the first item, give it a left margin of 12 pixels. */
ol.cell-items>li>.growable:first-child {
	margin-left: 1em;
}

/* If the growable is the last item, give it a right margin of 12 pixels. */
ol.cell-items>li>.growable:last-child {
	padding-right: 1em;
}

ol.checkable>li>.growable:first-child {
	margin-left: 2.2em;
}

span.checked {
	width: 1.2em;
}

span.checked+div.growable {
	margin-left: 0em;
}

ol.cell-items>li>.unselectable {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

section.hover-items:hover {
	background-color: #F8F8F8;
}	

.hover-items li:hover {
	background-color: #F8F8F8;
}

/** styles for the delete control. */
ol.deletable-items>li>button:first-child
{
	opacity: 0;
	padding: 0px 12px;
	margin-right: 0px;
}

/** styles for the contents of the notification. */
ol.deletable-items>li>p {
	margin-bottom: 6px;
}

/** styles for the confirm delete control. */
ol.deletable-items>li>button:last-child {
	position: relative;
	background: red;
	color: white;
	border: none;
	border-radius: 0;
	padding: 6px 12px;
}
ol.deletable-items>li>button:last-child:focus {
	outline: none;
}

ol, ul {
	list-style-type: none;
	-webkit-padding-start: 0px;
}
li {
	display: block;
	list-style-type: none;
}
input[type="date"]
{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
	height: 34px;
	border: 0px;
}
input[type="date"]:focus {
	color: #2C55CC;
}

.sub-text {
	font-size: smaller;
}
.sub-paragraph {
	margin-top: 4px;
}
.date-row {
	overflow: hidden;
}

.date-row > span {
	display: inline-block;
	position: relative;
}

.date-row > span:first-child {
	margin-right: 4px;
}
.date-row > span:last-child {
	margin-left: 4px;
}

.date-row > span > span {
	position: absolute;
	right: 0px;
	top: 4px;
	font-size: 14px;
	color: #AAA;
}

/* select.year, select.month and select.day are used for dateInput */
.date-row select {
	margin-left: 3px;
	padding-left: 1em;
	padding-right: 0px;
	position: relative;
	background-color: transparent;
	border: none;
	outline: none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

section.date-container ol {
	text-align: center;
}

section.date-container div.date-row {
	display: inline-block;
	overflow-x: hidden;
	position: relative;
	white-space: nowrap;	/* To prevent wrapping during animation. */
}

/* section.date-container is in the new-experience panel. */
div.not-sure-button {
	font-size: .9em;
	display: block;
	width: 100%;
	background-color: white;
	padding: 6px 12px;
	text-align: center;
	position: relative;
}

div.not-sure-button>div {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4px;
}

section.cell.documentation {
	padding: .5em 1em;
	font-size: 0.8em;
	color: #666;
	background-color: transparent;
}

select::-ms-expand {
    display: none;
}

div.wheel {
	position: relative;
	text-align: center;
	background-color: 248;
}

div.wheel ol {
	overflow-y: scroll;
	height: 154px;
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 0px;
	-webkit-overflow-scrolling: touch;
}

div.wheel ol:first-child {
	text-align: right;
}

div.wheel ol>li {
	height: 22px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

div.wheel ol>li.disabled {
	color: #888;
}

div.wheel ol>li:first-child {
	margin-top: 66px;	/* 3 times height */
}

div.wheel ol>li:last-child {
	margin-bottom: 66px;	/* 3 times height */
}

div.wheel>div.topShade {
	position: absolute;
	top: 0;
	height: 66px;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
  background: linear-gradient(rgba(248, 248, 248, 0.9),rgba(248, 248, 248, 0.8),rgba(248, 248, 248, 0.6),rgba(248, 248, 248, 0.45), rgba(248, 248, 248, 0.2)); 
  pointer-events:none;  	
}

div.wheel>div.bottomShade {
	position: absolute;
	bottom: 0;
	height: 69px;
	width: 100%;
	border-top: 1px solid #e7e7e7;
  background: linear-gradient(rgba(248, 248, 248, 0.2), rgba(248, 248, 248, 0.45), rgba(248, 248, 248, 0.6), rgba(248, 248, 248, 0.8), rgba(248, 248, 248, 0.9));  
  pointer-events:none;  	
}

::-webkit-scrollbar { 
	display: none; 
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

panel.site-panel > div.dimmer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: gray;
}

panel.zoom svg.handle { /* top handle */
	height: 15px;
	width: 44px;
}

panel.zoom svg.handle path {
	stroke: #CCC;
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

panel.zoom > div.panel-fill > div:first-child {	/* top box */
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top: 1px solid #CCC;
	width: 100%;
	overflow-x: hidden;	/* So the cancel button slides in from the right. */
}

panel.zoom div.handle {
	display: flex;
	width: 100%;
	margin: 4px auto;
	align-items: center;
	flex-direction: column;
}

panel.zoom input, panel.zoom textarea {
	display: inline-block;
	width: calc(100% - 12px);
	padding: 3px 6px;
	margin: 0px 6px 6px 6px;
	border: none;
/* 
	background: #D3D3D3;
	font-size: 0.9em;
	border-radius: 4px;
 */
}

panel.zoom input:focus, panel.zoom textarea:focus {
	outline: none;
}

panel.zoom button.cancel {
	padding: 2px 9px;
	position: absolute;
}

panel.confirm {
	position: absolute;
	bottom: 0;
	width: 100%;
}

panel.confirm >div {
	position: relative;
	padding: 12px;
	background-color: transparent;
	border: none;
	text-align: center;
}

panel.confirm >div>button {
	position: relative;
	display: block;
	max-width: 21em;
	width: 100%;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background: #F8F8F8;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	font-size: larger;
}
panel.confirm >div>button:first-child {
	margin-top: 0px;
}

panel.confirm >div>button.butted-down {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
panel.confirm >div>button.butted-down+button {
	margin-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
panel.confirm > div>button:focus {
	outline: none;
}

panel.hilite {
	position : absolute;
	overflow: hidden;
}

panel.hilite>span.hiliting {
	background-color: transparent;
	box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.65) inset;
	display: inline-block;
	position: absolute;
}
panel.hilite>div.surrounding {
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
}
panel.hilite>span.surrounding {
	background-color: rgba(0, 0, 0, 0.65);
	display: inline-block;
	position: absolute;
}

canvas.hilite {
	position: absolute;
}

span.hilite-help {
	position : absolute;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	text-align: right;
}

span.hilite-help-left {
	text-align: left;
}

span.hilite-got-it {
	position : absolute;
	font-size: 0.95em;
	font-weight: bold;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	background-color: rgba(248, 248, 248, 0.8);
	color: #2C55CC;
	box-shadow: 0px 0px 15px rgba(248, 248, 248, 0.8);
	padding: 3px 6px;
	border-radius: 6px;
}
