panel.comments > nav .site-navbar-link.share
{
	padding-top: 7px;
}

/* Set the minimum width of this button so that the buttons don't shift when changing
	the text from Edit to Done */
panel.comments > nav div.edit {
	text-align: center;
	min-width: 70px;
}

panel.comments div.panel-fill {
	background: white;
}

panel.comments svg {
	width: 100%;
}

panel.comments svg {
	font-family: SF-UI,Helvetica Neue,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

panel.comments svg tspan.site {
}

panel.comments svg tspan.tags {
}

panel.comments svg .flag-label {	/* For both flags and detail panels */
	text-anchor: start;
	font-weight: 600;
	font-size: 1.2em;
}

panel.comments svg .flag-label {	/* For both flags and detail panels */
	text-anchor: start;
	font-weight: 600;
	font-size: 1.2em;
}

panel.comments svg line {	/* For both flags and detail panels */
	stroke-opacity: 0.3;
}

section.comments {
	font-size: 0.8em;
}

section.comments > ol > li > div {
	position: relative;
	padding: 6px 12px 0px 12px;
}

@keyframes showBorder {
	from {border-color: transparent;}
	to   {border-color: #ddd;}
}

@keyframes hideBorder {
	from {border-color: #ddd;}
	to   {border-color: transparent;}
}

section.comments textarea {
	font-family: SF-UI,Helvetica Neue,Arial,Helvetica,sans-serif;
	resize: none;
	outline: none;
	width: 100%;
	padding: 2px;
	border: 1px transparent solid;
}

section.comments textarea.editable {
	animation: showBorder;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}

section.comments textarea.fixed {
	animation: hideBorder;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}

section.comments div.asker {
	color: #777;
	font-size: 0.9em;
	padding-right: 2px;
	padding-left: 2px;
}

section.comments ol {
	margin-bottom: 0px;
}

section.comments textarea.question {
	font-weight: bold;
	padding-top: 0px;
}

section.comments textarea.answer {
}

section.comments textarea.no-answer {
	color: #777;
}

section.new-comment {
	position: relative;
}

section.new-comment textarea {
	margin-left: 12px;
	padding: 2px;
	margin-top: 6px;
	font-size: 0.8em;
	resize: none;
	border: solid 1px #ddd;
	outline: none;
}

section.new-comment button.post {
	position: absolute;
	right: 0;
	top: 0;
	padding: 6px 12px;
}

section.comment-prompts div {
	border: none;
	width: 100%;
	font-size: 0.8em;
}

section.comment-prompts div>span {
	padding: 8px;
	padding-left: 14px;	/* Aligned with the left edge of the text in the textarea above it. */
	display: inline-block;
}

panel.comments svg g.chevron-right>polygon {
	fill: #777;
}