/* pathtreePanel.css */

panel.pathway {
	background: white;
}

panel.pathway .alert-container {
	top: 45px;
	z-index: 9999;
	position: absolute;
}

panel.pathway text {
	text-decoration: none;
	cursor: pointer;
}

panel.pathway > nav .settings {
	padding-top: 7px;
}

panel.pathway .settings>img {
	width: 22px;
	height: 22px;
}

panel.pathway span.badge {
	background-color: #2C55CC;
	position: relative;
	left: -4px;
	top: -4px;
	font-weight: normal;
	padding: 3px 5px;
}

panel.pathway span.badge:hover {
	background-color: #2222FF;
}

div.pathlines {
	position: relative;
	top: 45px;
}

svg.pathway {
	font-family: SF-UI,Helvetica Neue,Arial,Helvetica,sans-serif;
	font-size: 11px;
	margin-right: 12px;
}

svg.pathway g.year text {
	fill: #777;
	text-anchor: end;
}

svg.pathway g.guide line.column {
	stroke-width: 2;
	stroke-opacity: 0.1;
}
svg.pathway g.guide text.column-label {
	fill: #777;
	stroke-width: .3
}
svg.pathlines g.guide text.column-label {
	text-anchor: middle;
}
svg.pathway g.guide rect.column-icon {
	stroke-width: 2;
	stroke-opacity: 0.0;
	fill-opacity: 0.0;
}

panel.idea {
	position: absolute;
	background-color: #96AAd6;
	width: 66%;
	max-width: 22em;
	left: 17%;
	top: 25%;
	border-style: solid;
	border-radius: 0.5em;
	border-width: 0.1em;
	border-color: white;
}

panel.idea > .title {
	position: relative;
	margin: 0 1em;
	margin-top: 1em;
	color: white;
	background-color: transparent;
	text-align: center;
	font-size: 0.8em;
}

panel.idea > .prompt {
	position: relative;
	margin: 2em 1em;
	color: white;
	background-color: transparent;
	outline: none;
}

panel.idea > footer {
	width: 100%;
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 0.05em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

panel.idea footer button.skip {
	width: 50%;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.6em 0;
	color: white;
	background-color: #2C55CC;
	border: none;
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 0.05em;
	border-right-style: solid;
	border-right-color: white;
	border-right-width: 0.05em;
	border-bottom-left-radius: 0.5em;
	outline: none;
}

panel.idea footer button.answer {
	width: 50%;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.6em 0em;
	color: white;
	background-color: #2C55CC;
	border: none;
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 0.05em;
	border-bottom-right-radius: 0.5em;
	outline: none;
}

panel.idea > footer button.answer:only-of-type {
	width: 100%;
	border-bottom-left-radius: 0.5em;
}

panel.idea > button.close {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: white;
	background-color: #2C55CC;
	position: absolute;
	right: -0.6em;
	top: -0.6em;
	font-size: 1.5em;
	width: 1.2em;
	height: 1.2em;
	border-radius: 50%;
	opacity: 1;
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

panel.idea > button.close > span {
	position: relative;
	top: -.13em;
}

panel.settings span.badge {
	background-color: #2C55CC;
	font-weight: normal;
	margin-left: 3px;
	padding: 3px 5px;
}

panel.settings span.badge:hover {
	background-color: #2222FF;
}

panel.notifications .is-fresh {
	background: #D5DDF5;
}

panel.notifications div.no-results {
	font-size: 0.8em;
	font-style: italic;
	color: #888888;
}

