panel.welcome img.logo {
	height: 3em;
	margin: .5em 0em;
}

panel.welcome div.panel-fill {
	display: flex;
	flex-direction: column;
	background-color: #CDEAFC;
}

panel.welcome p.body {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

panel.welcome-info {
	background: white;
}

panel.welcome div.summary {
	width: 100%;
	text-align: center;
	font-family: verdana;
}

panel.welcome div.summary>div {
	margin-top: 1.5em;
	margin-left: 1em;
	margin-right: 1em;
	display: inline-block;
	max-width: 350px;
}

panel.welcome div.summary>div>p {
	text-align: center;
}

panel.welcome div.summary>div>p:last-child {
	font-weight: 600;
}

panel.welcome div.prompts {
	width: 100%;
	flex-grow: 100;
	position: relative;
}

panel.welcome div.prompts>div.scrollArea {
	display: inline-block;
	margin-bottom: 0px;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	position: relative;
	height: calc(100% - 3em);
}

panel.welcome div.prompts>div.scrollArea>panel {
	position: absolute;
	display: inline-flex;
	flex-direction: column;
	padding: 0.7em;
	height: calc(100% - 1em);
	margin: 7px 0px;
	background-color: white;
	box-shadow: 3px 3px 10px #999;
	text-align: center;
}

panel.welcome div.prompts>div.scrollArea>panel:last-child {
	border: none;
	box-shadow: none;
	background-color: transparent;
}

div.startup {
	position: absolute;
	top: 20%;
	bottom: 0px;
	width: calc(100% - 2.8em);
	margin-left: 0.7em;
	overflow-x: hidden;
	overflow-y: hidden;
}

div.startup > svg {
	position: relative;
	max-width: 60%;
	max-height: 60%;
}

@-moz-keyframes roll-eyes {
  0%  {-moz-transform: translateY(-25px)}
  25%  {-moz-transform: translate(5px, -20px)}
  75%  {-moz-transform: translate(5px, -5px)}
  100% {-moz-transform: translateY(0)}
}

@-webkit-keyframes roll-eyes {
  0%  {-webkit-transform: translateY(-25px)}
  25%  {-webkit-transform: translate(5px, -20px)}
  75%  {-webkit-transform: translate(5px, -5px)}
  100% {-webkit-transform: translateY(0)}
}

@keyframes roll-eyes {
  0%  {transform: translateY(-25px)}
  25%  {transform: translate(5px, -20px)}
  75%  {transform: translate(5px, -5px)}
  100% {transform: translateY(0)}
}

div.startup > svg circle {
  -moz-animation: roll-eyes 1s linear;
  -webkit-animation: roll-eyes 1s linear;
  animation: roll-eyes 1s linear;
}

panel.welcome div.prompts section.tags {
	flex-grow: 100;
	display: flex;
	flex-direction: column;
	text-align: center;
}

panel.welcome div.prompts section.tags.custom>div:last-of-type {
	flex-grow: 100;
}

panel.welcome section.tags>div.scrollArea>panel:first-of-type {
	width: auto;
	display: inline-block;
}

panel.welcome section.tags span.tags-container {
	margin-left: 0;
	display: inline-flex;
}

panel.welcome section.tags input.tag {
	border: none;
	border-bottom: 3px solid #999;
	padding-left: .4em;
	margin-right: 0em;
	flex-grow: 100;
	flex-shrink: 100;
	font-size: .75em;
}

panel.welcome section.tags span.remove-tag {
	font-family: verdana;
	font-size: .75em;
	padding: .1em .3em;
	margin-top: .2em;
	margin-left: 0.4em;
	height: 1.5em;
	width: 1.5em;
	text-align: center;
	line-height: 1.25em;
	color: #FFF;
	background: #999;
	border-radius: .7em;
}

panel.welcome div.prompts section.tags>div:first-child {
	display: inline-flex;
	width: auto;
	white-space: nowrap;
}

panel.welcome div.signup {
	width: 100%;
	text-align: center;
}

panel.welcome div.signup>div {
	margin-bottom: 1em;
	display: inline-block;
	max-width: 350px;
	padding: 0.5em 1em;
	width: 100%;
	text-align: left;
	background-color: white;
	box-shadow: 3px 3px 10px #999;
}

panel.welcome div.signup div.title {
    text-align: center;
    margin-bottom: 1em;
}


panel.welcome div.signup>div>div:last-child {
	text-align: right;
	margin-top: 1em;
}

