/* Remove the border so that it blends into the first item. */
panel.site-panel.comments>nav {
	border: none;
}

panel.comments div.panel-fill {
	background: white;
	display: flex;
	flex-direction: column;
}

panel.comments div.banner {
	display: flex;
	align-items: center;
	width: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	cursor: default;
	border-bottom: 1px solid #e7e7e7;
}

panel.comments div.banner > div {
	flex-grow: 100;
	padding-left: 15px;
}

panel.comments div.banner > div > div:first-child {
	padding-top: 6px;
	padding-bottom: 6px;
}

panel.comments div.banner > div > div:last-child {
	padding-bottom: 6px;
}

panel.comments div.banner > svg {
	margin-left: 15px;
	margin-right: 15px;
	fill: #777;
}

panel.comments .user-label {
	font-weight: 600;
	font-size: 1.3em;
}

panel.comments svg line {
	stroke-opacity: 0.3;
}

panel.comments div.edit {
	display: flex;
	flex-direction: column;
	outline: none;
	border-bottom: solid 1px #DDD;
	margin-left: 1em;
}

panel.comments div.edit>div {
	display: flex;
	flex-direction: row-reverse;
}

panel.comments div.edit>div>span {
	font-size: 0.8em;
	outline: none;
	padding: 0.5em 1.0em;
}

section.comments {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-grow: 100;
	flex-shrink: 100;
	-webkit-overflow-scrolling: touch;
}

section.comments ol.cell-items>li {
	font-size: 0.8em;
    cursor: default;
}

section.comments ol.cell-items>li:hover {
	background-color: transparent;
}

section.comments > ol > li > div {
	position: relative;
	padding: 6px 12px 0px 0px;
}

@keyframes showBorder {
	from {border-color: transparent;}
	to   {border-color: #ddd;}
}

@keyframes hideBorder {
	from {border-color: #ddd;}
	to   {border-color: transparent;}
}

section.comments textarea {
	font-family: SF-UI,Helvetica Neue,Arial,Helvetica,sans-serif;
	resize: none;
	outline: none;
	width: 100%;
	padding: 2px;
	border: 1px transparent solid;
}

section.comments textarea.editable {
	animation: showBorder;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}

section.comments textarea.fixed {
	animation: hideBorder;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}

section.comments textarea.fixed-immediate {
	border-color: transparent;
}

section.comments div.asker {
	color: #777;
	font-size: 0.9em;
	padding-right: 2px;
	padding-left: 2px;
}

section.comments ol {
	margin-bottom: 0px;
}

section.comments textarea.question {
	font-weight: bold;
	padding-top: 0px;
}

section.comments textarea.answer {
}

section.comments textarea.no-answer {
	color: #777;
}

section.comments button.reply {
	padding: .5em .5em .5em .2em;
	border: 1px transparent solid;
}

section.new-comment {
	position: relative;
}

section.new-comment button.add-comment {
	margin-left: 12px;
	padding: 6px 3px 6px 0px;
	outline: none;
	font-size: 0.8em;
}

section.new-comment textarea {
	margin-left: 12px;
	padding: 2px;
	margin-top: 6px;
	font-family: SF-UI, Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	resize: none;
	border: solid 1px #ddd;
	outline: none;
}

section.new-comment button.post {
	position: absolute;
	right: 0;
	top: 0;
	padding: 6px 12px;
	outline: none;
}

section.comment-prompts div {
	border: none;
	width: 100%;
	font-size: 0.8em;
}

section.comment-prompts div>span {
	padding: 8px;
	padding-left: 14px;	/* Aligned with the left edge of the text in the textarea above it. */
	display: inline-block;
}

panel.question {
	box-shadow: 3px 3px 10px #999;
}

panel.question> .panel-fill>* {
	background-color: white;
}

panel.question textarea {
	font-family: SF-UI, Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	resize: none;
	border: solid 0px #ddd;
	outline: none;
}
