/* showPathways.css */
	.dots {
		overflow: hidden;
		text-align: center;
		width: 100%;
		position: fixed;
		bottom: 0px;
	}
    .dots ol {
		display: inline-block
        list-style: none;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dots ol li {
        display: inline-block;
        background: #888;
        border-radius: 50%;
        width:20px;
        height:20px;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .dots ol .active {
    	background: white;
    }
    
    panel.new-experience-date-panel section.date-container {
		text-align: right;
    }
    
    panel.new-experience-date-panel section.date-container div.date-row {
    	display: inline-block;
    	overflow-x: hidden;
    	position: relative;
    	white-space: nowrap;	/* To prevent wrapping during animation. */
    }
    
    panel.new-experience-date-panel section.date-container>label {
		float: left;
    }
    
    panel.new-experience-date-panel section.date-container>span.in-cell-button {
		display: block;
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 4px;
		width: 100%;
		text-align: left;
    	position: relative;
    }
    
    panel.new-experience-date-panel section.date-container>.right-vertical-chevron {
		display: inline-block;
		overflow-x: hidden;
		float: none;
    	position: relative;
    }
    
	panel.new-experience-panel .address-line {
		margin-left: 0px;
		font-size: smaller;
		color: #999;
	}
	
	panel.new-experience-tags section p {
		margin: 10px;
		
	}

    .dots ~ panel {
    	height: calc(100% - 50px);
    	width: 100%;
    	background: transparent;
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    
	.dots ~ panel p {
		margin: 10px;
	}
	
	panel.experience nav
	{
		border-bottom-color: #f8f8f8;
	}
	
	panel.experience header
	{
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 5px;
		border-bottom: 1px solid #eee;
		background-color: #F8F8F8;
	}
	
	panel.experience .title
	{
		width: 100%;
		color: #333;
		text-align: left;
		font-size: 15px;
		font-weight: 500;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	panel.experience .organization {
	}
	panel.experience .organization>label {
		font-weight: normal;
	}
	panel.experience .organization>div {
		margin-left: 0px;
		color: #444;
		font-size: smaller;
	}
	panel.experience header .tags {
		font-size: smaller;
		color: #666;
		overflow-x: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
	
	panel.new-experience-panel section.list-container {
		position: relative;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	
	panel.new-experience-panel section.list-container header
	{
		width: 100%;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	panel.new-experience-panel section.list-container .organization {
		font-size: smaller;
	}
	panel.new-experience-panel section.list-container .organization>label {
		font-weight: normal;
	}
	panel.new-experience-panel section.list-container .address-line {
		margin-left: 0px;
	}
