/* showPathways.css */
	.dots {
		overflow: hidden;
		text-align: center;
		width: 100%;
		position: fixed;
		bottom: 0px;
	}
    .dots ol {
		display: inline-block
        list-style: none;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dots ol li {
        display: inline-block;
        background: #888;
        border-radius: 50%;
        width:20px;
        height:20px;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .dots ol .active {
    	background: white;
    }
    
    panel.new-experience-panel div.date-row {
		text-align: center;
		width: 100%;
		height: auto;
		padding: 6px 12px;
		background: white;
    }
    
    .dots ~ panel {
    	display: table;
    	height: calc(100% - 50px);
    	width: 100%;
    	background: transparent;
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    
	.dots ~ panel p {
		margin: 10px;
	}
	
	/* The following are used to have a set of fixed-height divs within a container and
	   one variable height div that takes up the remaining space and whose contents scroll
	   vertically if necessary. This is used in panel one.
	 */
	.table {
		display: table;
	}

	.table-row {
		display: table-row;
	}

	/* This is associated with the variable height div. */
	.body {
		display: table-row;
		height: 100%;
	}

	.body > div {
		display: table-cell;
		height: 100%;
	}

	.body > div > div {
		height: 100%;
		position: relative;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	panel.pathway text {
		text-decoration: none;
		cursor: pointer;
	}
	
	panel.confirm {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1000;
	}
	
	panel.confirm >div {
		margin-left: 12px;
		margin-right: 12px;
		padding: 12px;
		padding-top: 0px;
		background-color: white;
		border-top: 1px solid #eee;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
	}
	
	panel.confirm >div>button {
		position: relative;
		width: 100%;
		margin-top: 12px;
		padding: 10px;
		background: #F8F8F8;
		border: 1px solid #e7e7e7;
		border-radius: 4px;
		font-size: larger;
	}
	panel.confirm > div>button:focus {
		outline: none;
	}
	
	panel.confirm-experience div.summary {
		background-color: white;
	}
	
	panel.confirm-experience header
	{
		width: 100%;
		padding: 6px 12px;
		text-align: left;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	panel.confirm-experience .organization {
		margin-left: 12px;
		padding-bottom: 5px;
		border-bottom: 1px solid #eee;
	}
	panel.confirm-experience .organization>label {
		font-weight: normal;
	}
	panel.confirm-experience .address-line {
		margin-left: 0px;
		font-size: smaller;
	}
	panel.confirm-experience label {
		color: #222;
		font-weight: normal;
		margin: 0;
		padding: 6px 12px;
	}


