/* showPathways.css */
	panel.pathway {
		background: white;
	}
	
	panel.pathway> .panel-fill div.pathway {
		position: absolute;
		overflow-x: scroll;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: inline;
		width: calc(100% - 40px);
		left: 40px;
	}
	
	panel.pathway> .panel-fill div.years {
		position: absolute;
		overflow-x: none;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: inline;
		width: 40px;
	}
	
	panel.pathway text {
		text-decoration: none;
		cursor: pointer;
	}
	
	panel.pathway tspan.address-line {
		font-size: smaller;
		fill: #555;
	}
	
	panel.pathway tspan.tags {
		font-size: smaller;
		fill: #555;
	}
	
	panel.pathway .settings>img {
		width: 22px;
		height: 22px;
	}
	
	panel.pathway .add-experience-button {
		font-size: 28px;
		line-height: 18px;
	}

	panel.pathway button.expand {
		position: absolute;
		top: calc(100% - 76px);
		left: calc(100% - 56px);
		padding: 0px 12px;
		width: 44px;
		height: 22px;
		text-align: center;
		color: #777;
		align-items: flex-start;
		background: #EEE; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* Standard syntax */
		border: 1px #AAA solid;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		box-sizing: border-box;
		outline: none;
	}
	
	panel.pathway button.expand>span {
		position: relative;
		top: -4px;
		font-size: 24px;
		line-height: 22px;
	}
	
	panel.pathway button.contract {
		position: absolute;
		top: calc(100% - 76px);
		left: calc(100% - 99px);
		padding: 0px 12px;
		width: 44px;
		height: 22px;
		text-align: center;
		color: #AAA;
		align-items: flex-start;
		background: #EEE; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#E2E2E2, #EEE, #f8f8f8); /* Standard syntax */
		border: 1px #AAA solid;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		box-sizing: border-box;
		outline: none;
	}
	
	panel.pathway button.pressed {
		background: #CCC; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(#C2C2C2, #CCC, #d8d8d8); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#C2C2C2, #CCC, #d8d8d8); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#C2C2C2, #CCC, #d8d8d8); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#C2C2C2, #CCC, #d8d8d8); /* Standard syntax */
	}
	
	panel.pathway button.contract>span {
		position: relative;
		top: -4px;
		font-size: 18px;
	}
	
	panel.pathway button.contract.enabled {
		color: #777;
	}
	
	panel.pathway button.contract.disabled {
		color: #AAA;
	}
	
	panel.pathway span.badge {
		background-color: #2C55CC;
		position: relative;
		left: -3px;
		top: -3px;
		font-weight: normal;
		padding: 3px 5px;
	}
	
	panel.pathway span.badge:hover {
		background-color: #2222FF;
	}
	
	panel.confirm {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1000;
	}
	
	panel.confirm >div {
		padding: 12px;
		padding-top: 0px;
		background-color: transparent;
		border: none;
	}
	
	panel.confirm >div>button {
		position: relative;
		width: 100%;
		margin-top: 12px;
		padding: 10px;
		background: #F8F8F8;
		border: 1px solid #e7e7e7;
		border-radius: 4px;
		font-size: larger;
	}
	panel.confirm > div>button:focus {
		outline: none;
	}
	
	::-webkit-scrollbar { 
		display: none; 
	}
	
	panel.settings span.badge {
		background-color: #2C55CC;
		font-weight: normal;
		margin-left: 3px;
		padding: 3px 5px;
	}
	
	panel.settings span.badge:hover {
		background-color: #2222FF;
	}
	
	panel.site-panel > div.dimmer {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: black;
	}
