/* showPathways.css */
	panel.confirm {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1000;
	}
	
	panel.confirm >div {
		padding: 12px;
		padding-top: 0px;
		background-color: transparent;
		border: none;
		text-align: center;
	}
	
	panel.confirm >div>button {
		position: relative;
		display: block;
		max-width: 21em;
		width: 100%;
		margin-top: 12px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		background: #F8F8F8;
		border: 1px solid #e7e7e7;
		border-radius: 8px;
		font-size: larger;
	}
	panel.confirm >div>button.butted-down {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	panel.confirm >div>button.butted-down+button {
		margin-top: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	panel.confirm > div>button:focus {
		outline: none;
	}
	
	::-webkit-scrollbar { 
		display: none; 
	}
	
	panel.settings span.badge {
		background-color: #2C55CC;
		font-weight: normal;
		margin-left: 3px;
		padding: 3px 5px;
	}
	
	panel.settings span.badge:hover {
		background-color: #2222FF;
	}
	
	panel.site-panel > div.dimmer {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: black;
	}
