<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Reset Password</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "custom_user/css/formsimple.css" %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body max-width="100%">
    <div class="container-fluid">
		<form class="form-simple">
			<div class="site-title">Forgot your Password?</div>
			<div class="help-block">Enter your email address to receive an email with a link you can click to reset your password.</div>

			<div class="row">
				<div id="myAlert" class="col-xs-12"></div>
			</div>

		  <div class="row">
		  		<style>
		  			.feedback-control {
		  				width: calc(100% - 30px);
		  			}
		  		</style>
		  		<div class="col-xs-12">
		  			<div id="id_email_group" class="form-group has-feedback">
						<label for="id_email"  class="control-label sr-only">Email Address</label>
						<input id="id_email" class="form-control feedback-control" type="email" placeholder="Email"/>
						<span id="id_emailOK" class="glyphicon form-control-feedback"></span>
					</div>
				</div> 
		  </div>
			<div class="form-group site-trio-container">
				<span class="cancel-button site-trio-clipped site-active-text">Cancel</span>
				<div class="site-trio-fill"></div>
				<span class="submit-button site-trio-clipped site-active-text">Send&nbsp;Email</span>
			</div>
			<div class="row">
				<div id="id_alert_success" class="col-xs-12 div-success"></div>
			</div>
		</form>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script src="{% static "custom_user/js/bootstrapalert.js" %}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			
			$("form").on('submit', function (e) {
				bootstrap_alert.close();
				bootstrap_alert.success('Sending email (this may take a few minutes)...', '#id_alert_success');
				
				deferredObject = $.post("{% url 'resetPassword' %}", 
					{ csrfmiddlewaretoken: '{{ csrf_token }}', 
						"email": $("#id_email").val()
					})
				  .done(function(json, textStatus, jqXHR)
					{
						bootstrap_alert.close();
						bootstrap_alert.success('Your email has been sent. <a href="{{nextURL}}">Continue</a>', '#id_alert_success');
					})
				  .fail(function(jqXHR, textStatus, errorThrown) {
				  		bootstrap_alert.close();
						bootstrap_alert.warning(jqXHR.statusText);
						console.log( "error: " + textStatus + "; " + errorThrown + ";");
						console.log( jqXHR.status + "; " + jqXHR.statusText);
				  });

			   //stop form submission
			   e.preventDefault();
			});
			
			$(".cancel-button").click(function(e) {
				window.location = "{{backURL}}";
				e.preventDefault();
			});
			
			$(".submit-button").click(function(e) {
				$("form").submit();
				e.preventDefault();
			});

			$("#id_email").bind("keyup input paste", checkenabled);
			checkenabled();
			
			$('#id_email').focus();
		});
		
		function canSubmit() {
			testusername = $("#id_email").val();
			return testusername.indexOf("@") != -1 &&
				testusername.indexOf(".") != -1 &&
				testusername.indexOf("@") < testusername.lastIndexOf(".");
		}
		
		function checkenabled() {			
			if (!canSubmit())
			{
				$(".submit-button").addClass("site-disabled-text")
				                   .prop( "disabled", true );
				$( "#id_email_group" ).removeClass( "has-success");
			    $( "#id_emailOK" ).removeClass( "glyphicon-ok" );
			}
			else
			{
				$(".submit-button").removeClass("site-disabled-text")
								   .prop( "disabled", false );
				$( "#id_email_group" ).addClass( "has-success");
			    $( "#id_emailOK" ).addClass( "glyphicon-ok" );
			}
		};
	</script>

<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
