<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Reset Password</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "custom_user/css/formsimple.css" %}" rel="stylesheet">
    <style>
    	.button-div {
    		width: 100%;
    	}
    </style>
  </head>

<body max-width="100%">
    <div class="container-fluid">
    	<form class="form-simple">
			<style>
				.feedback-control {
					width: calc(100% - 30px);
				}
			</style>
			
			<div class="site-title">Reset Password</div>
			<div class="help-block">Enter your email address and a new password to reset your password.</div>

			<div id="myAlert"></div>

			<div  id="id_email_group" class="form-group has-feedback">
				<label for="id_email"  class="control-label sr-only">Email Address</label> 
				<input id="id_email" class="form-control feedback-control" type="email" placeholder="Email"/>
				<span id="id_emailOK" class="glyphicon form-control-feedback"></span>
			</div>
			<div class="form-group">
				<label for="id_newPassword"  class="control-label sr-only">New Password</label> 
				<input id="id_newPassword" class="form-control feedback-control" type="password" placeholder="New password" />
			</div>
			<div id="id_confirm_form_group" class="form-group has-feedback">
				<label for="id_confirmNewPassword"  class="control-label sr-only">Confirm New Password</label> 
				<input id="id_confirmNewPassword" class="form-control feedback-control" type="password" placeholder="Confirm new password" />
				<span id="id_passwordOK" class="glyphicon form-control-feedback"></span>
			</div>

			<div class="form-group site-trio-container">
				<span class="cancel-button site-trio-clipped site-active-text">Cancel</span>
				<div class="site-trio-fill"></div>
				<span class="submit-button site-trio-clipped site-active-text">Reset&nbsp;Password</span>
			</div>
			<div id="id_alert_success" class="div-success"></div>
		</form>
	</div>

<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
				}
			}
		});

		$(document).ready(function(){
			$(".close").click(function(){
				$(this).parent().alert();
			});
			
			bootstrap_alert = function() {}
			bootstrap_alert.show = function(parentDiv, message, alertClass) {
				parentDiv.html('<div class="alert ' + alertClass + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
			}
			bootstrap_alert.warning = function(message) {
				bootstrap_alert.show($('#myAlert'), message, "alert-danger");
			}
			bootstrap_alert.success = function(message) {
				bootstrap_alert.show($('#id_alert_success'), message, "alert-success");
        	}
        	closealert = function() { 
        		$('.alert').parent().html('');
        	}
        	
        	function setResetPassword() {
				closealert();
				bootstrap_alert.success('Resetting password (this may take a few minutes)...');
				
				deferredObject = $.post("{% url 'setResetPassword' %}", 
					{ csrfmiddlewaretoken: '{{ csrf_token }}', 
						"resetkey": "{{resetkey}}",
						"email": $("#id_email").val(),
						"password": $("#id_newPassword").val(),
					})
				  .done(function(json, textStatus, jqXHR)
					{
						closealert();
						bootstrap_alert.success('Your password has been reset and you are now signed in with your new password. <a href="{% url "home" %}">Continue</a>');
					})
				  .fail(function(jqXHR, textStatus, errorThrown) {
						closealert();
				  		bootstrap_alert.warning(jqXHR.statusText);
				  });
        	}
			
			$("form").on('submit', function (e) {
				setResetPassword();

			   //stop form submission
			   e.preventDefault();
			});
			
			$(".submit-button").click(function(e) {
				if (canSubmit())
					setResetPassword();
				e.preventDefault();
			});

			$(".cancel-button").click(function(e) {
				window.location = "{% url 'home' %}";
				e.preventDefault();
			});
		
			$("#id_email").bind("keyup input paste", checkenabled);
			$("#id_newPassword").bind("keyup input paste", checkenabled);
			$("#id_confirmNewPassword").bind("keyup input paste", checkenabled);
			checkenabled();
			$('#id_email').focus()
		});
		
		function canSubmit() {
			testusername = $("#id_email").val();
			if ($("#id_email").val() === "" ||
				$("#id_newPassword").val() === "" ||
				$("#id_confirmNewPassword").val() === "")
			{
				return false;
			}
			else if (testusername.indexOf("@") == -1 ||
				testusername.indexOf(".") == -1 ||
				testusername.indexOf("@") > testusername.lastIndexOf(".")) {
				return false;
			} else if ($("#id_confirmNewPassword").val() != $("#id_newPassword").val()) {
				return false;
			}
			else
			{
				return true;
			}
		}
		
		function checkenabled() {
			if (!canSubmit()) {
				$(".submit-button" ).prop( "disabled", true );
				$(".submit-button").addClass("site-disabled-text");
				$(".submit-button").removeClass("site-active-text");
			}
			else
			{
				$(".submit-button" ).prop( "disabled", false );
				$(".submit-button").removeClass("site-disabled-text");
				$(".submit-button").addClass("site-active-text");
			}
			
			// Show the success of a valid password	
			if ($("#id_newPassword").val() === "" ||
			    $("#id_confirmNewPassword").val() !== $("#id_newPassword").val())
			{
				$( "#id_confirm_form_group" ).removeClass( "has-success");
			    $( "#id_passwordOK" ).removeClass( "glyphicon-ok" );
			}
			else
			{
				$( "#id_confirm_form_group" ).addClass( "has-success");
			    $( "#id_passwordOK" ).addClass( "glyphicon-ok" );
			}
			
			testusername = $("#id_email").val();
			// Show the success of a valid email address.
			if (testusername.indexOf("@") == -1 ||
				testusername.indexOf(".") == -1 ||
				testusername.indexOf("@") > testusername.lastIndexOf(".")) {
				$( "#id_email_group" ).removeClass( "has-success");
			    $( "#id_emailOK" ).removeClass( "glyphicon-ok" );
			} else {
				$( "#id_email_group" ).addClass( "has-success");
			    $( "#id_emailOK" ).addClass( "glyphicon-ok" );
			}
		};
	</script>
</html>
