<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "custom_user/css/bodybackground.css" %}" rel="stylesheet">
    <style>
    	.sign-in-button {
    	    padding-top: 6px;
    	    padding-right: 15px;
    	}
    	.option-label {
    		margin-top: 15px;
    		margin-left: 15px;
    	}
    	.option-item {
    		margin-top: 15px;
    		margin-left: 45px;
    	}
    </style>
  </head>
	<body class="site-body">
		<div class="site-trio-container">
			<div class="site-trio-fill"></div>
			<span class="sign-in-button site-trio-clipped site-active-text">Sign&nbsp;In</span>
		</div>
    	<div class="site-title">Welcome to consentrecords.org</div>
    	<div class="option-label">consentrecords.org is dedicated to building trust and 
    		transparency between you and the organizations that provide you services.</div>
    	<div class="option-label">Do you...</div>
    	<div class="option-item">take responsibility for your own path?
    		<span class="site-active-text">Click&nbsp;here&nbsp;to&nbsp;learn&nbsp;more.</span>
    	</div>
    	<div class="option-item">take responsibility for others as a parent or guardian?
    		<span class="site-active-text">Click&nbsp;here&nbsp;to&nbsp;learn&nbsp;more.</span>
    	</div>
    	<div class="option-item">provide services to children, youth or young adults?
    		<span class="site-active-text">Click&nbsp;here&nbsp;to&nbsp;learn&nbsp;more.</span>
    	</div>
	</body>

	<script src="{% static "jquery/js/jquery.min.js" %}"></script>
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "jquerycookie/jquery.cookie.js" %}"></script>
	<script src="{% static "custom_user/js/bodybackground.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
		
		$(document).ready (function(e) {
			$(".sign-in-button").click(function(e) {
				var encodedRef = encodeURIComponent(window.location.href);
				window.location.href = "{% url 'signin' %}?backURL=" + encodedRef;
				e.preventDefault();
			});
		});
	</script>

</html>

