<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
	
    <title>{{header}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "consentrecords/css/base.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<!-- Styles for this web page -->
	<style>
		body {
		  background: #eee;
		}
	</style>

  </head>

  <body>
	<panel id="id_panel1" class="base-panel site-panel list-panel">
		<nav class="navbar navbar-default site-navbar" role="navigation">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="pull-left">
					<div id="id_cancelButton" class="cancel-button site-navbar-link site-active-text">Done</div>
				</div>
				<div class="pull-right">
					<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
						<span>+</span>
					</div>
				</div>
				<div class="site-navbar-commands">
					<div class="site-title site-fill"><span class="site-inner-fill">{{header}}</span></div>
				</div>
			</div>
		</nav>
		<div id="id_scrollableArea" class="panel-scrolling">
			<div>
				<div class="alert-container"></div>
			</div>
			<div id="id_searchArea" class="searchbar">
			</div>
			<ol id="id_objects">
			</ol>
		</div> <!-- /container-fluid -->
	</panel>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static "jquery/js/jquery.min.js" %}"></script>
	<script src="{% static "jqueryui/js/jquery-ui.min.js" %}"></script>
<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "d3/d3.v3.min.js" %}"></script>
	<script src="{% static "custom_user/js/bootstrapalert.js" %}"></script>
	<script src="{% static "consentrecords/js/models.js" %}"></script>
	<script src="{% static "consentrecords/js/domainmodels.js" %}"></script>
	<script src="{% static "consentrecords/js/views.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var storedcsrftoken = "{{ csrf_token }}";
		var headerText = "{{header}}";
		
		$("title").text(headerText);
		$(".site-navbar-commands .site-title .site-inner-fill").text(headerText);
		
		/* For show methods, the obj is the DOM object that contains the item being shown.
							 the d object contains the field information.
							 d["_data"] has the data for the instance of this field.
		 */
		 
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", storedcsrftoken);
				}
			}
		});

		$(document).ready (function(e) {
			$("#id_cancelButton").click(function(e) {
				window.location = "{{ backURL }}";
				e.preventDefault();
			});
			
			var textChanged = function(){
				val = this.value.toLocaleLowerCase();
				if (val.length == 0)
				{
					/* Show all of the items. */
					d3.select("#id_objects").selectAll("li")
						.style("display", "block");
				}
				else
				{
					/* Show the items whose description is this.value */
					d3.select("#id_objects").selectAll("li")
						.style("display", function(d)
							{
								if (d.getDescription().toLocaleLowerCase().indexOf(val) >= 0)
									return "block";
								else
									return "none";
							});
				}
			}
			
			var searchBar = $(".searchbar");
			setup_search_bar(".searchbar", textChanged);
			
			var parentPanel = document.getElementById("id_panel1")
			var panelDiv = d3.select(parentPanel);
			panelDiv.attr("headerText", headerText);

			var cell = new cr.Cell();
			cell.field = {
						  dataType: "_object",
			{% if singularName %}
						  name: "{{singularName}}",
			{% else %}
						  name: "Item",
			{% endif %}
			{% if rootID %}
						  ofKindID: "{{rootID}}",
			{% endif %}
						  capacity: "_multiple values",
						  };
			cell.setup(null);
			
			var itemsDiv = d3.select("#id_objects")
				.data([cell]);
			cell.add_target("valueAdded.cr", itemsDiv.node());
			cell.add_target("dataChanged.cr", itemsDiv.node());
			
			itemsDiv.node().onValueAdded = getOnValueAddedFunction(d3.select(parentPanel), cell, null, true, true, show_view_object_panel);
			$(itemsDiv.node()).on("valueAdded.cr", function(e, newData)
			{
				this.onValueAdded(e, newData);
				itemsDiv.selectAll("li").sort(function(a, b)
				{
					return a.getDescription().localeCompare(b.getDescription());
				});
			});
			$(itemsDiv.node()).on("dataChanged.cr", function(e, newData)
			{
				itemsDiv.selectAll("li").sort(function(a, b)
				{
					return a.getDescription().localeCompare(b.getDescription());
				});
			});
			
			{% if rootID %}
				$("#id_addUniversalObjectButton").click(function(e) {
					if (prepare_click())
					{
						show_click_feedback(this);
						
						var newValue = cell.addNewValue();
				
						show_add_object_panel(newValue, null, panelDiv, submit_create_instance);
					}

					e.preventDefault();
				});
			{% else %}
				$("#id_addUniversalObjectButton").css("display", "none");
			{% endif %}
			
			var successFunction = function(newValues)
			{
				newValues.sort(function(a, b)
					{
						return a.getDescription().localeCompare(b.getDescription());
					});
					
				for (var i = 0; i < newValues.length; i++)
					cell.pushValue(newValues[i]);
				
				layout_objects(cell, d3.select("#id_objects"), 
					function(d) {
						if (prepare_click())
						{
							show_view_object_panel(d, cell, null, panelDiv);
						}
					});
			}
			
			var failFunction = function(error)
			{
				bootstrap_alert.warning(error, ".alert-container");
				/* Don't unblock here, because there was no block. */
			}
			
			cr.selectAll("{{path}}", successFunction, failFunction);
		});
		
		$(document).ready(function(e) { resetidObjectsHeight() });
		$(window).resize(function(e) { resetidObjectsHeight() });
		
		resetidObjectsHeight = function()
		{
			var newHeight = window.innerHeight;
			$("#id_panel1").children().each(
				function() { if (this != document.getElementById("id_scrollableArea")) newHeight -= $(this).height(); }
			);
			$("#id_scrollableArea").height(newHeight);
		}
	</script>

<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
