<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{rootType}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "consentrecords/css/base.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<!-- Styles for this web page -->
	<style>
		body {
		  background: #eee;
		}
	</style>

  </head>

  <body>
	<div id="id_panel1" class="site-panel list-panel">
		<nav class="navbar navbar-default site-navbar" role="navigation">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="pull-left">
					<div id="id_cancelButton" class="cancel-button site-navbar-link site-active-text">Done</div>
				</div>
				<div class="pull-right">
					<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
						<span>+</span>
					</div>
				</div>
				<div class="site-navbar-commands">
					<div class="site-title site-fill"><span class="site-inner-fill">{{rootType}}</span></div>
				</div>
			</div>
		</nav>
		<div id="id_scrollableArea" class="panel-scrolling">
			<div>
				<div class="alert-container"></div>
			</div>
			<div id="id_searchArea" class="searchbar">
				<span id="id_searchCancelButton" class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
				<div id="id_searchInputContainer" class="search-input-container">
					<input id="id_searchInput" class="search-input" placeholder="Search">
					</input>
				</div>
			</div>
			<div id="id_objects">
			</div>
		</div> <!-- /container-fluid -->
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "d3/d3.v3.min.js" %}"></script>
	<script src="{% static "custom_user/js/bootstrapalert.js" %}"></script>
	<script src="{% static "consentrecords/js/models.js" %}"></script>
	<script src="{% static "consentrecords/js/views.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var storedcsrftoken = "{{ csrf_token }}";
		var pluralName = "{{rootType}}s";
		var singularName = "{{rootType}}";
		
		$("title").text(pluralName);
		$(".site-navbar-commands .site-title .site-inner-fill").text(pluralName);
		
		/* For show methods, the obj is the DOM object that contains the item being shown.
							 the d object contains the field information.
							 d["_data"] has the data for the instance of this field.
		 */
		 
		$(document).ready (function(e) {
			$("#id_cancelButton").click(function(e) {
				window.location = "{{ backURL }}";
				e.preventDefault();
			});
			
			$("#id_searchInput").on("keyup input paste", function(){
				val = this.value;
				if (val.length == 0)
				{
					/* Show all of the items. */
					d3.select("#id_objects").selectAll("div")
						.style("display", "block");
				}
				else
				{
					/* Show the items whose description is this.value */
					d3.select("#id_objects").selectAll("div")
						.style("display", function(d)
							{
								if (d.getDescription().indexOf(val) >= 0)
									return "block";
								else
									return "none";
							});
				}
				d3.select("#id_searchCancelButton")
					.classed("site-disabled-text", val.length == 0)
					.classed("site-active-text", val.length > 0);
			});
			
			$("#id_searchCancelButton").on("click", function() {
				$("#id_searchInput").val("");
				$("#id_searchInput").trigger("input");
			});

			var parentPanel = document.getElementById("id_panel1")
			var panelDiv = d3.select(parentPanel);
			panelDiv.attr("headerText", "{{rootType}}");

			var cell = new Cell();
			cell.field = {name: singularName,
								dataType: "_object",
								ofKindID : "{{rootID}}" };
			cell.setup(null);
			
			var itemsDiv = d3.select("#id_objects")
				.data([cell]);
			cell.add_target("valueAdded", itemsDiv.node());
			itemsDiv.node().onValueAdded = get_on_value_added_function(d3.select(parentPanel), show_view_object_panel);
			$(itemsDiv.node()).on("valueAdded", function(e, newData)
			{
				this.onValueAdded(e, newData);
				itemsDiv.selectAll("div").sort(function(a, b)
				{
					return a.getDescription().localeCompare(b.getDescription());
				});
			});
			
			$("#id_addUniversalObjectButton").click(function(e) {
				if (prepare_click())
				{
					show_click_feedback(this);
				
					show_add_object_panel(cell, null, panelDiv, submit_create_root_instance);
				}

				e.preventDefault();
			});
			
			$.getJSON("{% url 'selectAll' %}", { "ofKindName" : "{{rootType}}" }, function(json){
				if (json.success) {
					var newObjects = [];
					$(json.objects).each(function()
					{
						newObjects.push(dataTypes._object.copyValue(this));
					});
				
					newObjects.sort(function(a, b)
						{
							return a.getDescription().localeCompare(b.getDescription());
						});
					
					layout_objects(d3.select("#id_objects"), newObjects,
						function(d) {
							if (prepare_click())
							{
								show_view_object_panel(d, cell, panelDiv);
							}
						});
				}
				else
				{
					bootstrap_alert.warning(json.error, ".alert-container");
					unblock_click();
				}
			});
		});
		
		$(document).ready(function(e) { resetidObjectsHeight() });
		$(window).resize(function(e) { resetidObjectsHeight() });
		
		resetidObjectsHeight = function()
		{
			var newHeight = window.innerHeight;
			$("#id_panel1").children().each(
				function() { if (this != document.getElementById("id_scrollableArea")) newHeight -= $(this).height(); }
			);
			$("#id_scrollableArea").height(newHeight);
		}
		
		function store_unsaved_picked_value(cell, oldData, newData)
		{
			if (oldData)
			{
				/* In this case, we are replacing an old value for
				   an item that was added to the item but not saved;
				   a placeholder or a previously picked value.
				 */
				if (newData.getValueID() != oldData.getValueID()) {
					oldData.completeUpdateValue(newData);
				}
			}
			else	/* In this case, we are adding an object to a new object. */
			{
				cell.addValue(newData);
			}
		}
		
		/* This is a storeDataFunction for adding a value to an unsaved cell. */
		function store_new_value(containerCell, containerUUID, initialData, onSuccessFunction) {
			closealert();
			containerCell.addValue(initialData);
			onSuccessFunction();
		}
		
		/* This is a storeDataFunction for adding a value to a saved cell. */
		function submit_add_value(containerCell, containerUUID, initialData, onSuccessFunction) {
			closealert();
			$.post("{% url 'addValue' %}", 
					{ csrfmiddlewaretoken: storedcsrftoken, 
					  containerUUID: containerUUID,
					  elementUUID: containerCell.field.nameID,
					  valueUUID: initialData.getValueID(),
					  timezoneoffset: new Date().getTimezoneOffset()
					})
				  .done(function(json, textStatus, jqXHR)
					{
						if (json.success) {
							closealert();
							var newData = dataTypes[containerCell.field.dataType].newValue();
							newData.id = json.id;
							newData.value.description = d.getDescription();
							newData.value.id = d.getValueID();
							cell.addValue(newData);
							onSuccessFunction();
						}
						else {
							bootstrap_alert.warning(json.error, ".alert-container");
							unblock_click();
						}
					})
				  .fail(standard_fail_function);
		}
			
		function show_add_value_panel(containerCell, containerUUID, containerPanel, storeDataFunction) {
			var panelDiv = create_panel(containerPanel, containerCell, containerCell.field.name)
				.classed("list-panel", true);
		
			var navContainer = panelDiv.appendNavContainer();
		
			var backButton = navContainer.appendLeftButton()
				.on("click", handle_close_right_event);
			backButton.append("span").classed("glyphicon glyphicon-chevron-left site-active-text", true);
			backButton.append("span").text(" " + containerPanel.attr("headerText"));
		
			var panel2Div = panelDiv.appendScrollArea();
			panel2Div.appendHeader();
			var alertContainer = panel2Div.append("div").classed("alert-container", true);
			var onSuccessFunction = function(newData) {
				hide_panel_down(panelDiv.node());
			};
			
			$.getJSON("{% url 'getEnumerationValues' %}",
				{ "id" : containerCell.field.id }, 
				function(json)
				{
					if (json.success) {
						var values = [];
						$(json.values).each(function()
						{
							values.push(dataTypes[containerCell.field.dataType].copyValue(this));
						});
					
						var sections = panel2Div.appendSections(values);
					
						var buttons = appendButtons(sections)
							.on("click", function(d) {
								if (prepare_click())
								{
									storeDataFunction(containerCell, containerUUID, d, onSuccessFunction);
								}
								d3.event.preventDefault();
							});
						sections.append("hr");
					
						window.scrollTo(0, 0);
						show_panel_left(panelDiv.node());
					}
					else
					{
						alert(json.error);
					}
				}
			);
		}	
			
		/* Displays a panel in which the specified object's contents appear.
		 */
		function show_view_object_panel(objectData, containerCell, containerPanel) {
			var panelDiv = create_panel(containerPanel, 
										objectData, objectData.getDescription())
				.classed("show-panel", true);
	
			var navContainer = panelDiv.appendNavContainer();
		
			var backButton = navContainer.appendLeftButton()
				.on("click", handle_close_right_event);
			backButton.append("span").classed("glyphicon glyphicon-chevron-left site-active-text", true);
			backButton.append("span").text(" " + containerPanel.attr("headerText"));
			
			var editButton = navContainer.appendRightButton()
				.on("click", function(d) {
					if (prepare_click())
					{
						show_click_feedback(this);
						
						show_edit_object_panel(objectData, containerCell, panelDiv);
					}
					d3.event.preventDefault();
				});
			editButton.append("span").text("Edit");
			
			var panel2Div = panelDiv.appendScrollArea();
		
			var headerDiv = panel2Div.appendHeader();
			objectData.add_target("dataChanged", headerDiv.node());
			$(headerDiv.node()).on("dataChanged", function(e) {
					d3.select(this).text(objectData.getDescription());
				});

			var alertContainer = panel2Div.append("div").classed("alert-container", true);
									
			window.scrollTo(0, 0);
			show_panel_left(panelDiv.node());
			
			if (objectData.value.cells)
			{
				panel2Div.show_view_cells(objectData, containerCell, panelDiv);
			}
			else if (objectData.getValueID())
			{
				$.getJSON("{% url 'getData' %}",
					{ "id" : objectData.getValueID() }, 
					function(json)
					{
						if (json.success) {
							objectData.value.cells = [];
							for (var i = 0; i < json.cells.length; ++i)
							{
								objectData.importCell(json.cells[i]);
							}
						
							panel2Div.show_view_cells(objectData, containerCell, panelDiv);
						}
						else {
							alert(json['error']);
						}
					}
				);
			}
		}
		
		/* 
			Displays a panel for editing the specified object. 
		 */
		function show_edit_object_panel(objectData, containerCell, containerPanel) {
			var panelDiv = create_panel(containerPanel, 
										objectData, "Edit " + containerCell.field.name)
							.classed("edit-panel", true);
	
			var navContainer = panelDiv.appendNavContainer();
		
			var header = "Edit " + containerCell.field.name;
			
			var doneButton = navContainer.appendRightButton();
			doneButton.append("span").text("Done");
		
			var panel2Div = panelDiv.appendScrollArea();
			panel2Div.appendHeader();
			var alertContainer = panel2Div.append("div").classed("alert-container", true);
			window.scrollTo(0, 0);
			show_panel_up(panelDiv.node());

			if (objectData.value.cells)
			{
				panel2Div.show_edit_cells(objectData, containerCell, panelDiv);
			}
			else if (objectData.getValueID())
			{
				$.getJSON("{% url 'getData' %}",
					{ "id" : objectData.getValueID() }, 
					function(json)
					{
						if (json.success) {
							objectData.value.cells = [];
							for (var i = 0; i < json.cells.length; ++i)
							{
								objectData.importCell(json.cells[i]);
							}
						
							panel2Div.show_edit_cells(objectData, containerCell, panelDiv);
						}
						else {
							alert(json.error);
						}
					}
				);
			}
					
			doneButton.on("click", function(d) {
				if (prepare_click())
				{
					show_click_feedback(this);
					
					var sections = panel2Div.selectAll("section");
					if (objectData.getValueID())
					{
						/* This object has been previously saved. Update the data. */
						var initialData = [];
						var sourceObjects = [];
						sections.each(function(cell) {
								if ("appendUpdateCommands" in dataTypeViews[cell.field.dataType])
									dataTypeViews[cell.field.dataType].appendUpdateCommands(this, cell, objectData, initialData, sourceObjects);
							});
						if (initialData.length > 0) {
							$.post("{% url 'updateValues' %}", 
									{ csrfmiddlewaretoken: storedcsrftoken, 
									  commands: JSON.stringify(initialData),
									  timezoneoffset: new Date().getTimezoneOffset()
									})
								  .done(function(json, textStatus, jqXHR)
									{
										if (json.success) {
											sections.each(function(cell) {
													if ("updateCell" in dataTypeViews[cell.field.dataType])
														dataTypeViews[cell.field.dataType].updateCell(this, cell);
												});
											for (var i = 0; i < sourceObjects.length; ++i)
											{
												d = sourceObjects[i];
												newID = json.ids[i];
												if (d.id == newID)	/* An Update */
												{
													d.trigger_event("dataChanged");
												}
												else
												{
													d.id = newID;
													d.trigger_event("dataChanged");
												}
											}
											hide_panel_down($(doneButton.node()).parents(".site-panel")[0]);
										}
										else
										{
											bootstrap_alert.warning(json.error, ".alert-container");
											unblock_click();
										}
									})
								  .fail(standard_fail_function);
						}
						else
						{
							hide_panel_down($(this).parents(".site-panel")[0]);
						}
					}
					else
					{
						/* In this case, we are editing an object that is contained in an object
							that hasn't been saved. */
						objectData.value.cells = [];
						sections.each(
							function(cell) {
								if ("updateCell" in dataTypeViews[cell.field.dataType])
									dataTypeViews[cell.field.dataType].updateCell(this, cell);
								objectData.importCell(cell);
							});
				
						objectData.calculateDescription();
						objectData.trigger_event("dataChanged");
						hide_panel_down($(this).parents(".site-panel")[0]);
					}
				}
				d3.event.preventDefault();
			});
		}
		
		/* For root objects, the containerPanel.name is the type name of the container;
		   for container objects, the containerPanel.name is the field name of the object within its container.
		 */
		function show_pick_value_panel(oldData, cell, containerUUID, containerPanel) {
			$.getJSON("{% url 'getEnumerationValues' %}",
				{ "id" : cell.field.id }, 
				function(json)
				{
					if (json.success) {
						var values = [];
						$(json.values).each(function()
						{
							values.push(dataTypes[cell.field.dataType].copyValue(this));
						});
					
						var panelDatum;
						if (oldData && oldData.id)
							panelDatum = oldData;
						else
							panelDatum = cell;
						var panelDiv = create_panel(containerPanel, 
													panelDatum, cell.field.name)
							.classed("list-panel", true);
					
						var navContainer = panelDiv.appendNavContainer();
					
						var backButton = navContainer.appendLeftButton()
							.on("click", handle_close_right_event);
						backButton.append("span").text("Cancel");
						
						var panel2Div = panelDiv.appendScrollArea();
						panel2Div.appendHeader();
						var alertContainer = panel2Div.append("div").classed("alert-container", true);
						
						var sections = panel2Div.appendSections(values);
					
						var buttons = appendButtons(sections)
							.on("click", function(d) {
								if (prepare_click())
								{
									if (oldData && oldData.id != null)
									{
										if (d.getValueID() == oldData.getValueID()) {
											hide_panel_right(panelDiv.node());
										}
										else
										{
											initialData = [{id: oldData.id, elementID: "_value", value: d.getValueID()}];
											$.post("{% url 'updateValues' %}", 
													{ csrfmiddlewaretoken: storedcsrftoken, 
														"commands": JSON.stringify(initialData),
														"timezoneoffset": new Date().getTimezoneOffset()
													})
												  .done(function(json, textStatus, jqXHR)
													{
														if (json.success) {
															oldData.completeUpdateValue(d);
															hide_panel_right(panelDiv.node());
														}
														else {
															bootstrap_alert.warning(json.error, ".alert-container");
															unblock_click();
														}
													})
												  .fail(standard_fail_function);
										}
									}
									else if (containerUUID)	/* In this case, we are adding an object to an existing object. */
									{
										$.post("{% url 'addValue' %}", 
												{ csrfmiddlewaretoken: storedcsrftoken, 
												  containerUUID: containerUUID,
												  elementUUID: cell.field.nameID,
												  valueUUID: d.getValueID(),
												  timezoneoffset: new Date().getTimezoneOffset()
												})
											  .done(function(json, textStatus, jqXHR)
												{
													if (json.success) {
														closealert();
														var newData = dataTypes[cell.field.dataType].newValue();
														newData.id = json.id;
														newData.value.description = d.getDescription();
														newData.value.id = d.getValueID();
														cell.addValue(newData);
														hide_panel_right(panelDiv.node());
													}
													else {
														bootstrap_alert.warning(json.error, ".alert-container");
														unblock_click();
													}
												})
											  .fail(standard_fail_function);
									}
									else 
									{
										closealert();
										store_unsaved_picked_value(cell, oldData, d);
										hide_panel_right(panelDiv.node());
									}
								}
								d3.event.preventDefault();
							});
						buttons.insert("span", ":first-child").classed("glyphicon glyphicon-ok pull-left", 
							function(d) { return oldData && d.getDescription() == oldData.getDescription(); });
						sections.append("hr");
					
						window.scrollTo(0, 0);
						show_panel_left(panelDiv.node());
					}
					else
					{
						alert(json.error);
						unblock_click();
					}
				}
			);
		}
		
		/* Displays a panel from which a user can select an object of the kind required 
			for objects in the specified cell.
		 */
		function show_pick_object_panel(oldData, cell, containerUUID, containerPanel) {
			var panelDatum;
			if (oldData && oldData.id)
				panelDatum = oldData;	/* Replacing a new object. */
			else
				panelDatum = cell;		/* Adding a new object. */
			var panelDiv = create_panel(containerPanel, panelDatum, cell.field.name)
				.classed("list-panel", true);
		
			var navContainer = panelDiv.appendNavContainer();
		
			var backButton = navContainer.appendLeftButton()
				.on("click", handle_close_right_event);
			backButton.append("span").text("Cancel");
		
			var panel2Div = panelDiv.appendScrollArea();
			panel2Div.appendHeader();
			var alertContainer = panel2Div.append("div").classed("alert-container", true);
			
			$.getJSON("{% url 'selectAll' %}", 
				{ "ofKindID" : cell.field.ofKindID },
				function(json)
				{
					if (json.success) {
						var rootObjects = [];
						$(json.objects).each(function()
						{
							rootObjects.push(dataTypes._object.copyValue(this));
						});
						
						rootObjects.sort(function(a, b)
							{
								return a.getDescription().localeCompare(b.getDescription());
							});
					
						var sections = panel2Div.appendSections(rootObjects);
					
						var buttons = appendButtons(sections)
							.on("click", function(d) {
								if (prepare_click())
								{
									if (oldData && oldData.id != null)
									{
										if (d.getValueID() == oldData.getValueID()) {
											hide_panel_right(panelDiv.node());
										}
										else
										{
											initialData = [{id: oldData.id, elementID: "_value", value: d.getValueID()}];
											$.post("{% url 'updateValues' %}", 
													{ csrfmiddlewaretoken: storedcsrftoken, 
														"commands": JSON.stringify(initialData),
														"timezoneoffset": new Date().getTimezoneOffset()
													})
												  .done(function(json, textStatus, jqXHR)
													{
														if (json.success) {
															closealert();
															oldData.completeUpdateValue(d);
															hide_panel_right(panelDiv.node());
														}
														else {
															bootstrap_alert.warning(json.error, ".alert-container");
															unblock_click();
														}
													})
												  .fail(standard_fail_function);
										}
									}
									else if (containerUUID)	/* In this case, we are adding an object to an existing object. */
									{
										$.post("{% url 'addValue' %}", 
												{ csrfmiddlewaretoken: storedcsrftoken, 
												  containerUUID: containerUUID,
												  elementUUID: cell.field.nameID,
												  valueUUID: d.getValueID(),
												  timezoneoffset: new Date().getTimezoneOffset()
												})
											  .done(function(json, textStatus, jqXHR)
												{
													if (json.success) {
														closealert();
														var newData = dataTypes[cell.field.dataType].newValue();
														newData.id = json.id;
														newData.value.description = d.getDescription();
														newData.value.id = d.getValueID();
														cell.addValue(newData);
														hide_panel_right(panelDiv.node());
													}
													else {
														bootstrap_alert.warning(json.error, ".alert-container");
														unblock_click();
													}
												})
											  .fail(standard_fail_function);
									}
									else 
									{
										closealert();
										store_unsaved_picked_value(cell, oldData, d);
										hide_panel_right(panelDiv.node());
									}
								}
								d3.event.preventDefault();
							});
						buttons.insert("span", ":first-child").classed("glyphicon glyphicon-ok pull-left", 
							function(d) { return oldData && d.getDescription() == oldData.getDescription(); });
						sections.append("hr");
					
						window.scrollTo(0, 0);
						show_panel_left(panelDiv.node());
					}
					else
					{
						alert(json['error']);
					}
				}
			);
		}
		
		/* This method gets called to bring up a configuration panel when adding
			a new instance of an object to another object. For example, adding a 
			configuration to an object with a uuname kind.
		 */
		function show_add_object_panel(containerCell, containerUUID, containerPanel, storeDataFunction) {
			$.getJSON("{% url 'getAddConfiguration' %}",
				{ "typeID" : containerCell.field.ofKindID }, 
				function(json)
				{
					if (json.success)
					{
						var cells = [];
						$(json.cells).each(function()
						{
							newCell = new Cell();
							newCell.field = this.field;
							newCell.setup(null);
							cells.push(newCell);
						});
						
						var panelDiv = create_panel(containerPanel, containerCell, "New " + containerCell.field.name)
							.classed("edit-panel", true);
			
						var header = "New " + containerCell.field.name								 
						var navContainer = panelDiv.appendNavContainer();
			
						var backButton = navContainer.appendLeftButton()
							.on("click", handle_close_down_event);
						
						backButton.append("span").text("Cancel");
			
						var onSuccessFunction = function(newData) {
							hide_panel_down(panelDiv.node());
						};
							
						var addButton = navContainer.appendRightButton()
							.on("click", function(d) {
								if (prepare_click())
								{
									show_click_feedback(this);
									
									storeDataFunction(containerCell, containerUUID, sections, onSuccessFunction);
								}
								d3.event.preventDefault();
							});
						addButton.append("span").text("Add");
			
						var panel2Div = panelDiv.appendScrollArea();
						panel2Div.appendHeader();
						var alertContainer = panel2Div.append("div").classed("alert-container", true);
						
						var sections = panel2Div.appendSections(cells)
							.each(function(cell) {
									dataTypeViews[cell.field.dataType].showAdd(this, panelDiv, cell, null);
								});
			
						window.scrollTo(0, 0);
						show_panel_up(panelDiv.node());
					}
					else
						alert(json.error);
				}
			);
		}
		
		/* This is a storeDataFunction for adding an object within an unsaved object. */
		function store_new_instance(containerCell, containerUUID, sections, onSuccessFunction)
		{
			closealert();
			var newData = dataTypes._object.newValue();
			newData.value.cells = [];
			sections.each(
				function(cell) {
					if ("updateCell" in dataTypeViews[cell.field.dataType])
						dataTypeViews[cell.field.dataType].updateCell(this, cell);
					newData.importCell(cell);
				});
				
			newData.calculateDescription();
			containerCell.addValue(newData);
			if (onSuccessFunction) onSuccessFunction(newData);
		}
		
		/* This is a storeDataFunction for creating a root object. */
		function submit_create_root_instance(containerCell, containerUUID, sections, onSuccessFunction)
		{
			var initialData = []
			sections.each(
				function(cell) {
					dt = dataTypeViews[cell.field.dataType]
					if ("updateCell" in dt)
						dt.updateCell(this, cell);
					dataTypes[cell.field.dataType].appendData(cell, initialData);
				});
				
			var jsonArray = { csrfmiddlewaretoken: storedcsrftoken, 
						typeID: containerCell.field.ofKindID,
						properties: JSON.stringify(initialData),
						timezoneoffset: new Date().getTimezoneOffset()
					};
			
			$.post("{% url 'createInstance' %}", 
					jsonArray)
				  .done(function(json, textStatus, jqXHR)
					{
						if (json.success) {
							closealert();
							/* Copy the data from json object into newData so that 
								any functions are properly initialized.
							 */
							var newData = dataTypes._object.newValue();
							newData.value.id = json.object.value.id;
							newData.value.description = json.object.value.description;
							containerCell.addValue(newData);
							if (onSuccessFunction) onSuccessFunction(newData);
						}
						else {
							bootstrap_alert.warning(json.error, ".alert-container");
							unblock_click();
						}
					})
				  .fail(standard_fail_function);
		}

		/* This is a storeDataFunction for creating an object within a saved object. */
		function submit_create_instance(containerCell, containerUUID, sections, onSuccessFunction)
		{
			var initialData = []
			sections.each(
				function(cell) {
					dt = dataTypeViews[cell.field.dataType]
					if ("updateCell" in dt)
						dt.updateCell(this, cell);
					dataTypes[cell.field.dataType].appendData(cell, initialData);
				});
				
			var jsonArray = { csrfmiddlewaretoken: storedcsrftoken, 
						typeID: containerCell.field.ofKindID,
						properties: JSON.stringify(initialData),
						timezoneoffset: new Date().getTimezoneOffset()
					};
			if ('elementName' in containerCell.field)
				jsonArray.elementName = containerCell.field.elementName;
			if ('nameID' in containerCell.field)
				jsonArray.elementUUID = containerCell.field.nameID;
			if (containerUUID)
				jsonArray.containerUUID = containerUUID;
			
			$.post("{% url 'createInstance' %}", 
					jsonArray)
				  .done(function(json, textStatus, jqXHR)
					{
						if (json.success) {
							closealert();
							/* Copy the data from json object into newData so that 
								any functions are properly initialized.
							 */
							var newData = dataTypes._object.newValue();
							/* If there is a container, then the id in newData will contain
								the id of the value object in the database. */
							if (containerUUID)
								newData.id = json.object.id;
							newData.value.id = json.object.value.id;
							newData.value.description = json.object.value.description;
							containerCell.addValue(newData);
							if (onSuccessFunction) onSuccessFunction(newData);
						}
						else {
							bootstrap_alert.warning(json.error, ".alert-container");
							unblock_click();
						}
					})
				  .fail(standard_fail_function);
		}
	</script>

<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
