<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
	
    <title>{{header}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "consentrecords/css/base.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<!-- Styles for this web page -->
	<style>
		body {
		  background: #eee;
		}
	</style>

  </head>

  <body>
	<panel id="id_panel1" class="base-panel site-panel list-panel">
	</panel>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static "jquery/js/jquery.min.js" %}"></script>
	<script src="{% static "jqueryui/js/jquery-ui.min.js" %}"></script>
<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "d3/d3.v3.min.js" %}"></script>
	<script src="{% static "custom_user/js/bootstrapalert.js" %}"></script>
	<script src="{% static "consentrecords/js/models.js" %}"></script>
	<script src="{% static "consentrecords/js/domainmodels.js" %}"></script>
	<script src="{% static "consentrecords/js/views.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var storedcsrftoken = "{{ csrf_token }}";
		var headerText = "{{header}}";
		
		$("title").text(headerText);
		
		/* For show methods, the obj is the DOM object that contains the item being shown.
							 the d object contains the field information.
							 d["_data"] has the data for the instance of this field.
		 */
		 
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", storedcsrftoken);
				}
			}
		});

		$(document).ready (function(e) {
			$("#id_cancelButton").click(function(e) {
				window.location = "{{ backURL }}";
				e.preventDefault();
			});
			
			var cell = new cr.Cell();
			cell.field = {
						  dataType: "_object",
			{% if singularName %}
						  name: "{{singularName}}",
			{% else %}
						  name: "Item",
			{% endif %}
			{% if rootID %}
						  ofKindID: "{{rootID}}",
			{% endif %}
						  capacity: "_multiple values",
						  };
			cell.setup(null);
			
			var containerPanel = d3.select("#id_panel1");
			function sortByDescription(a, b)
			{
				return a.getDescription().localeCompare(b.getDescription());
			}
			function showFunction(panelDiv)
			{
				showPanelNow(panelDiv);
			}
			cr.selectAll("{{path}}", 
				getViewRootObjectsFunction(cell, containerPanel, headerText, sortByDescription, showFunction), 
				syncFailFunction);
		});
		
// 		$(document).ready(function(e) { resetidObjectsHeight() });
// 		$(window).resize(function(e) { resetidObjectsHeight() });
// 		
// 		resetidObjectsHeight = function()
// 		{
// 			var newHeight = window.innerHeight;
// 			$("#id_panel1").children().each(
// 				function() { if (this != document.getElementById("id_scrollableArea")) newHeight -= $(this).height(); }
// 			);
// 			$("#id_scrollableArea").height(newHeight);
// 		}
	</script>

<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
