<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="PathAdvisor Organization">
	
	{% if fbURL %}
    <meta property="og:url" content="{{fbURL}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{fbTitle}}">
    <meta property="og:description" content="{{fbDescription}}">
    {% endif %}
    
    <title>PathAdvisor - Organization</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{cdn_url}}twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this page -->
    <link href="{% static "custom_user/css/base.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/base.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/experienceCommentsPanel.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/tagPoolView.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/newExperiencePanel.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/pathtreePanel.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/showSharing.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/showFollowing.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "consentrecords/css/signup.css" %}?v={{jsversion}}" rel="stylesheet">
    
    <link href="{% static "custom_user/css/formsimple.css" %}?v={{jsversion}}" rel="stylesheet">
    <link href="{% static "custom_user/css/signin.css" %}?v={{jsversion}}" rel="stylesheet">

    <style>
    	.consent-form-title {
    	}
    	.consent-record-accept-button {
    	}
    	.button-section {
    		float: bottom;
    	}
    	panel.organization header {
			width: 100%;
			padding: 6px 12px;
			text-align: left;
			font-weight: bold;
    	}
    	.organization-section {
    		display: none;
    	}
    	.level-2-panel {
    		top: 0;
    		z-index: 2;
    	}
    	.level-3-panel {
    		top: 0;
    		z-index: 3;
    	}
    	.level-4-panel {
    		top: 0;
    		z-index: 4;
    	}
    	panel#id_forgot_password_panel {
    		background: white;
    	}
    	.username-label {
    		padding-left: 15px;
    	}
    	.centered-right-glyph {
			position: absolute;
			top: 50%;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			float: right;
			right: 12px;
	   	}
	   	.centered-right-2 {	/* To the left of a centered-right-glyph */
			width: auto;
			float: right;
			margin-right: 24px;
			text-align: right;
	   	}
    	.option-label {
    		margin-top: 15px;
    		margin-left: 15px;
    	}
    	.option-item {
    		margin-top: 15px;
    		margin-left: 45px;
    	}
    	panel.session {
    		background: white;
    	}
    	panel.session header {
			width: 100%;
			padding: 6px 12px;
			text-align: left;
			font-weight: bold;
    	}
    	panel.session .organization {
    		margin-left: 12px;
    		padding-bottom: 5px;
    		border-bottom: 1px solid #eee;
    	}
    	panel.session .organization>label {
    		font-weight: normal;
    	}
    	panel.session .address-line {
    		margin-left: 0px;
    		font-size: smaller;
    	}
    	panel.session .more-info {
			overflow: hidden;
			width: auto;
			display: block;
    		font-size: smaller;
    		padding: 6px 12px;
    	}
    </style>
	</head>
	
  	<body class="site-body">
		{% if facebookIntegration %}
  		<div id="fb-root"></div>
		<script>
		  window.fbAsyncInit = function() {
			FB.init({
			  appId      : '1503871976607590',
			  status     : true,
			  cookie     : true,
			  xfbml      : true,
			  version    : 'v2.5'
			});
		  };

		  (function(d, s, id){
			 var js, fjs = d.getElementsByTagName(s)[0];
			 if (d.getElementById(id)) {return;}
			 js = d.createElement(s); js.id = id;
			 js.src = "//connect.facebook.net/en_US/sdk.js";
			 fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
		{% endif %}
		
  		<panel id="id_user_home_panel" class="initial" >
			<nav role="navigation">
				<div>
					<div class="right-link site-navbar-link site-active-text default-link sign-in-button">
						<span id="sign-in-span">Sign&nbsp;In</span>
					</div>
				</div>
			</nav>
			<h3 class="username-label"> </h3>
			<div class="alert-container"></div>
			<section class="button-section">
				<section class="organization-section row-button-group">
				</section>
			</section>
		</panel>
		
<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}?v={{jsversion}}"></script>
  	</body>

	<script src="{{cdn_url}}jquery/3.1.1/jquery.min.js"></script>
	<script src="{{cdn_url}}spin.js/2.3.2/spin.min.js"></script>
	<script src="{{cdn_url}}jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="{{cdn_url}}jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="{{cdn_url}}twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{cdn_url}}jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="{{cdn_url}}d3/3.5.17/d3.min.js"></script>
	<script src="{{cdn_url}}datejs/1.0/date.min.js"></script>
	<script src="{% static "custom_user/js/bootstrapalert.js" %}"></script>
	<script src="{% static "uuid/uuid.3.0.0.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/models.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/domainmodels.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/controllers.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/views.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/tagPoolView.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/getDataChunker.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/dateinput.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/dotsnavigator.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/experienceCommentsPanel.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/findExperience.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/newExperiencePanel.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/organization.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/orgviews.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/pathGuides.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/pathtreePanel.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/showFollowing.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/showSharing.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/signup.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/settings.js" %}?v={{jsversion}}"></script>
	<script src="{% static "consentrecords/js/updatePassword.js" %}?v={{jsversion}}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
		rightChevronPath = '{% static "consentrecords/png/ios7-arrow-forward-512px.svg" %}'
		leftChevronPath = '{% static "consentrecords/png/ios7-arrow-back-512px.svg" %}'
		settingsImagePath = '{% static "consentrecords/png/settings.png" %}'
		shareImagePath = '{% static "consentrecords/png/share.svg" %}'
		
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
				}
			}
		});

		/* The global object used to identify the current user. */
		{% if userID %}
		cr.createSignedinUser("{{userID}}")
			.fail(cr.asyncFail);
		{% endif %}
		
		/* Update the username label when a user signs in or out. */	
		var usernameLabel = $(".username-label");
		
		cr.signedinUser.on("signin.cr changed.cr", usernameLabel[0], function(eventObject)
		{
			$(eventObject.data).text(cr.signedinUser.caption());
		});
		
		/* Update the text of the signin button when a user signs in or out. */
		var signinSpan = $("#sign-in-span")
		cr.signedinUser.on("signin.cr", signinSpan[0], function(eventObject)
		{
			$(eventObject.data).text("Sign Out");
		});
		
		/* Update the list of organizations associated with the user when a user signs in or out. */
		var orgSection = $(".organization-section");
		
		cr.signedinUser.on("signin.cr", orgSection[0], function(eventObject)
		{
			load_organizations.call(eventObject.data);
		});
		
		var clearUserElements = function()
		{
			usernameLabel.text("");
			signinSpan.text("Sign In");
			hide_organizations.call(orgSection[0]);
		};
		
		/* Initialize all of the objects that are dependent on whether or not the user is
			signed in.
		 */
		if (!cr.signedinUser.id())
		{
			clearUserElements();
		}
		/* Otherwise, the signin.cr event will be triggered after the cr.signedinUser data loads. */

		/* Handle a click event on the sign-in button to either sign in or sign out
			the current user.
		 */
		$(".sign-in-button").click(function(e) {
			if (prepareClick('click',  'Sign In/Out button'))
			{
				if (cr.signedinUser.id())
				{
					sign_out()
						.then(function()
							{
								cr.signedinUser.clear();
								clearUserElements();
								unblockClick();
							}, 
							cr.syncFail);
				}
				else
				{
					var panel = new SigninPanel();
					panel.showLeft().then(function()
								{
									panel.initializeFocus();
									unblockClick();
								});
				}
			}
			e.preventDefault();
		});

		function checkSignin(previousPanel, done, message)
		{
			if (prepareClick('click', message))
			{
				showClickFeedback(this);
				if (cr.signedinUser.id())
					done();
				else
				{
					var onSignin = function(eventObject)
					{
						this.off("signinCanceled.cr", onSigninCanceled);
						if (prepareClick('onSignin'))
							done();
					};
					
					var onSigninCanceled = function(eventObject)
					{
						this.off("signin.cr", onSignin);
					}
					
					cr.signedinUser.one("signin.cr", null, onSignin);
					cr.signedinUser.one("signinCanceled.cr", null, onSigninCanceled);
					
					var panel = new SigninPanel();
					panel.showLeft().then(function()
								{
									panel.initializeFocus();
									unblockClick();
								});
				}
			}
		}
		
		function getFilter(node)
		{
			return function()
			{
				var val = this.value.toLocaleLowerCase();
				if (val.length == 0)
				{
					/* Show all of the items. */
					d3.select(node).selectAll("div")
						.style("display", null);
				}
				else
				{
					/* Show the items whose description is this.value */
					d3.select(node).selectAll("div")
						.style("display", function(d)
							{
								if (d.description().toLocaleLowerCase().indexOf(val) >= 0)
									return null;
								else
									return "none";
							});
				}
			}
		}
		
		function showFixedPanel(previousPanel, newNode)
		{
			var zIndex = parseInt($(previousPanel).css("z-index"))+1;
			var panel = d3.select(newNode);
			panel.style("z-index", zIndex);
			
			panel.showLeft().then(unblockClick);
		}
			
		function sign_out() {
			bootstrap_alert.show($('#myAlert'), "Signing Out...", "alert-info");
			return cr.submitSignout();
		}
		
		function hide_organizations()
		{
			var orgSection = d3.select(this);
			orgSection.style("display", "none");
			orgSection.selectAll("li").remove();
		}
		
		function load_organizations()
		{
			var orgSection = d3.select(this);
			var successFunction = function(newInstances)
			{
				/* Default orgSection style is "none", so override it if there are organizations to show. */
				orgSection.style("display", newInstances.length > 0 ? "block" : null);
				
				var divs = orgSection.append('ol')
					.classed('cell-items', true)
					.selectAll('li')
					.data(newInstances)
					.enter()
					.append('li');
				
				divs.append('div')
					.classed("growable unselectable site-active-text show-panel-button", true)
					.text(function(d) { return d.description(); });
				
				crf.appendRightChevrons(divs);
					
				divs.on("click", function(d) {
					if (prepareClick('click', 'show organization ' + d.description()))
					{
						show_organization_panel(d, null, d3.select("body>panel").node());
					}
				});
			}
			
			var path = cr.signedinUser.urlPath()+'/group/organization';
			cr.getData({path: path, resultType: cr.Organization, fields: ['none']})
				.then(successFunction, cr.asyncFail);
		}
		
		/* Displays a panel in which the specified object's contents appear.
		 */
		function show_organization_panel(objectData, containerUUID, containerPanel) {
			successFunction = function ()
			{
				var b;
				
				var sitePanel = new crv.SitePanel();
				sitePanel.createRoot(objectData, objectData.description(), "organization view");

				var navContainer = sitePanel.appendNavContainer();

				var backButton = navContainer.appendLeftButton()
					.on("click", function() { sitePanel.hideRightEvent(); });
				backButton.append("span").text("Done");
	
				var panel2Div = sitePanel.appendScrollArea();

				var headerDiv = panel2Div.appendHeader();
				function updatePanelHeader(eventObject)
				{
					d3.select(eventObject.data).text(this.description());
				}
				objectData.on("dataChanged.cr", headerDiv.node(), updatePanelHeader);
				$(headerDiv.node()).on("remove", null, objectData, function(eventObject)
				{
					eventObject.data.off("dataChanged.cr", updatePanelHeader);
				});

				sitePanel.showLeft().then(unblockClick);

				sitePanel.appendActionButton(
					"Record an Inquiry",
					function(organization)
					{
						if (prepareClick('click', 'Record an Inquiry'))
						{
							pick_inquiry_site(organization, sitePanel.node());
						}
					})
					.classed('first', true);
				
				sitePanel.appendActionButton(
					"Enroll an Inquiry",
					function(d)
					{
						if (prepareClick('click', 'Enroll an Inquiry'))
						{
							enroll_inquiry(d, sitePanel.node());
						}
					})
					.classed('first', true);
					
				sitePanel.appendActionButton(
					"Add an Enrollment",
					function(d)
					{
						if (prepareClick('click', 'Add an Enrollment'))
						{
							add_enrollment(d, sitePanel.node());
						}
					});
					
				sitePanel.appendActionButton(
					"Record Participation",
					function(d)
					{
						if (prepareClick('click', 'record participation'))
						{
							record_participation(d, sitePanel.node());
						}
					})
					.classed('first', true);
					
				sitePanel.appendActionButton(
					"Manage Sessions",
					function(organization)
					{
						if (prepareClick('click', 'Manage Sessions'))
						{
							manage_session(organization, sitePanel.node());
						}
					})
					.classed('first', true);
			}
	
			objectData.promiseData().then(successFunction, cr.asyncFail)
		}
		
		function pickChild(parent, data, previousPanelNode, header, successFunction)
		{
			data.sort(function(a, b)
				{
					return a.description().localeCompare(b.description());
				});

			var sitePanel = new crv.SitePanel();
			sitePanel.createRoot(parent, header, "list");

			var navContainer = sitePanel.appendNavContainer();

			var backButton = navContainer.appendLeftButton()
				.on("click", function() { sitePanel.hideRightEvent(); });
			appendLeftChevrons(backButton).classed("site-active-text", true);
			backButton.append("div").text(" " + previousPanelNode.getAttribute("headerText"));
	
			var centerButton = navContainer.appendTitle(header);

			sitePanel.appendSearchBar(show_matching_descriptions);

			var panel2Div = sitePanel.appendScrollArea();
			appendButtons(panel2Div, data, function(d) {
					if (prepareClick('click', 'header: ' + d.description()))
					{
						try
						{
							successFunction(d, sitePanel.node());
						}
						catch(err)
						{
							cr.syncFail(err);
						}
					}
					d3.event.preventDefault();
				});

			sitePanel.showLeft().then(unblockClick);
		}
		/*
			Displays a panel from which the user can pick a session from
			the specified offering.
			
			This function should be called within a prepareClick block.
		 */
		function pick_session(offering, previousPanelNode, successFunction)
		{
			offering.promiseSessions().then(function()
				{
					pickChild(offering, offering.sessions(), previousPanelNode, "Pick Session", successFunction);
				},
				cr.syncFail);
		}
		
		/*
			Displays a panel from which the user can pick an offering from
			the specified site.
			
			This function should be called within a prepareClick block.
		 */
		function pick_offering(site, previousPanelNode, successFunction)
		{
			site.promiseData(["offerings"]).then(function()
				{
					pickChild(site, site.offerings(), previousPanelNode, "Pick Offering", successFunction);
				},
				cr.syncFail);
		}
		
		/*
			This function should be called within a prepareClick block.
		 */
		function pick_site(organization, previousPanelNode, successFunction)
		{
			organization.promiseData().then(function()
				{
					pickChild(organization, organization.sites(), previousPanelNode, "Pick Site", successFunction);
				},
				syncFailFunction);
		}
		
		function enroll_inquiry(organization, previousPanelNode)
		{
			pickSessionFromOrganization(organization, previousPanelNode,
				function(session, currentPanelNode)
				{
					session.promiseInquiries().then(function()
						{
							var inquiries = session.inquiries();
			
							var sitePanel = new crv.SitePanel();
							sitePanel.createRoot(session, "Pick User", "list");

							var navContainer = sitePanel.appendNavContainer();

							var backButton = navContainer.appendLeftButton()
								.on("click", function() { sitePanel.hideRightEvent(); });
							backButton.append("span").text(crv.buttonTexts.done);
							var centerButton = navContainer.appendTitle("Inquiries (" + inquiries.length + ")");
			
							sitePanel.appendSearchBar(show_matching_descriptions);

							var panel2Div = sitePanel.appendScrollArea();

							sitePanel.showLeft().then(unblockClick);
		
							var items = appendButtons(panel2Div, session.inquiries(), function(inquiry)
								{
									if (prepareClick('click', 'add enrollment'))
									{
										getAddEnrollmentFunction(session, inquiry.user(), unblockClick)();
									}
								});
							
							appendInfoButtons(items)
								.on("click", function(inquiry) {
									if (prepareClick('click', 'show user info'))
									{
										checkUserByInquiry(inquiry,
											function(user) {
												showUser(user, sitePanel.node());
											},
											syncFailFunction);
									}
									d3.event.preventDefault();
								});
						},
						cr.syncFail)
				},
				cr.syncFail);
		}
		
		function checkUserByInquiry(inquiry, successFunction, failFunction)
		{
			var checkSuccessFunction = function() 
			{
				var email = inquiry.email();
				if (!email)
					failFunction("The email is not set up.");
				else
				{
					var selectAllSuccess = function(userObjects)
					{
						if (userObjects.length == 0)
							failFunction('There is no user set up with the email "' + email + '".');
						else
						{
							successFunction(userObjects[0]);
						}
					};
		
					cr.getData({path: "user[email>text="+email+"]", resultType: cr.User, fields: ['none'], end: 50})
						.then(selectAllSuccess, cr.syncFail);
				}
			}
			inquiry.promiseData().then(checkSuccessFunction, syncFailFunction);
		}
		
		function addExperienceByEnrollment(session, enrollment)
		{
			checkUserByEnrollment(enrollment,
				function(user)
				{
					addEngagement(session, user);
				},
				syncFailFunction);
		}
		
		/*
			This function should be called within a prepareClick block. 
		 */
		function add_enrollment(organization, previousPanel)
		{
			var sitePanel = new crv.SitePanel();
			sitePanel.createRoot(organization, "Pick User", "list");

			var navContainer = sitePanel.appendNavContainer();

			var backButton = navContainer.appendLeftButton()
				.on("click", function() { sitePanel.hideRightEvent(); });
			backButton.append("span").text("Done");
	
			var centerButton = navContainer.appendTitle("Pick User");

			sitePanel.appendSearchBar(show_users);

			var panel2Div = sitePanel.appendScrollArea();
	
			sitePanel.showLeft().then(unblockClick);
			
			function show_users()
			{
				var val = this.value.toLocaleLowerCase();
				var inputBox = this;
				
				if (val.length == 0)
				{
					panel2Div.selectAll("section").remove();
				}
				else
				{
					var startVal = val;
					var pickedUser = null;
					
					var pickSessionSuccess = function(session, sessionPanelDiv)
					{
						var checkCellsSuccess = getAddEnrollmentFunction(session, pickedUser, unblockClick);
						session.promiseData().then(checkCellsSuccess, syncFailFunction);
					};
					
					var pickOfferingSuccess = function(offering, offeringPanelDiv)
					{
						pick_session(offering, offeringPanelDiv, pickSessionSuccess);
					}
					
					var pickSiteSuccess = function(site, sitePanelDiv)
					{
						pick_offering(site, sitePanelDiv, pickOfferingSuccess);
					}
					
					var selectAllSuccess = function(userObjects)
					{
						if (inputBox.value.toLocaleLowerCase() == startVal)
						{
							panel2Div.selectAll("section").remove();
							var buttons = appendButtons(panel2Div, userObjects, 
								function(user) {
									pickedUser = user;
									if (prepareClick('click', 'organization: ' + organization.description()))
									{
										pick_site(organization, sitePanel.node(), pickSiteSuccess);
									}
									d3.event.preventDefault();
								});
							var infoButtons =  buttons.append("div", ":first-child")
								.classed("info-button", true)
								.on("click", function(user) {
									if (prepareClick('click', 'user: ' + user.description()))
									{
										showUser(user, sitePanel.node());
									}
									d3.event.preventDefault();
								});
							drawInfoButtons(infoButtons);
						}
					}
					
					cr.getData({path: 'user[email>text^="'+val+'"]', resultType: cr.User, fields: ['none'], end: 50})
						.then(selectAllSuccess, cr.asyncFail);
				}
			}
		}
		
		function getAddEnrollmentFunction(session, user, successFunction)
		{
			return function()
			{
				var checkCellsSuccessFunction = function()
				{
					var offering = session.offering();
					cr.getData({path: session.urlPath() + "/enrollment[user={0}]".format(user.id()),
								resultType: cr.Enrollment,
								})
					  .then(function(enrollments)
							{
								if (enrollments.length)
									cr.syncFail(user.description() + 
									  " already enrolled in " + 
									  offering.description() + "/" + session.description());
								else
								{
									changes = {'enrollments':
										[{'add': '1', 'user': user.urlPath()}]};
									session.update(changes)
										.then(function()
											{
												bootstrap_alert.success(user.description() + 
													  " enrolled in " + 
													  offering.description() + "/" + session.description(),
													  ".alert-container");
												successFunction();
											},
											cr.syncFail);
								}
							},
							cr.syncFail);
				}
				session.promiseData(["parents"])
					.then(checkCellsSuccessFunction, syncFailFunction);
			}
		}
		
		function addEngagement(session, user)
		{
			cr.getData({path: session.urlPath() + "/engagement[user={0}]".format(user.id()),
						resultType: cr.Engagement,
						})
			  .then(function(engagements)
					{
						try
						{
							var controller;
							if (engagements.length)
							{
								controller = new EngagementController(session, engagements[0], true);
								controller.oldInstance(engagements[0]);
								engagements[0].parent(session);
							}
							else
							{
								controller = new EngagementController(session, null, false);
								controller.newInstance().user(user);
							}
							var panel = new EngagementPanel(controller, revealPanelLeft);
							revealPanelLeft(panel.node());
						}
						catch(err) { cr.syncFail(err); }
					},
					cr.syncFail);
		}
		
		function show_matching_descriptions(){
			var rows = $(this).parents("panel").find(".row-button");
			var val = this.value.toLocaleLowerCase();
			if (val.length == 0)
			{
				/* Show all of the items. */
				d3.selectAll(rows).style("display", null);
			}
			else
			{
				/* Show the items whose description is this.value */
				d3.selectAll(rows)
					.style("display", function(d)
						{
							if (d.description().toLocaleLowerCase().indexOf(val) >= 0)
								return null;
							else
								return "none";
						});
			}
		}
		
		function validateEmail(email) 
		{
			var re = /\S+@\S+\.\S\S+/;
			return re.test(email);
		}
		
		function pick_inquiry_site(organization, panelDiv)
		{
			function pickSiteSuccess(site, pickSitePanel)
			{
				var pickOfferingSuccess = function(offering, pickOfferingPanel)
				{
					function pickSessionSuccess(session, previousPanel)
					{
						try
						{
							var panel = new NewInquiryPanel(session, "Record Inquiry");
							panel.showLeft().then(unblockClick);
						}
						catch(err) 
						{
							cr.syncFail(err);
						}
					}
					pick_session(offering, pickOfferingPanel, pickSessionSuccess);
				}
				pick_offering(site, pickSitePanel, pickOfferingSuccess);
			}
			pick_site(organization, panelDiv, pickSiteSuccess);
		}
		
		function pickSessionFromOrganization(organization, previousPanelNode, sessionSuccess)
		{
			function pickSiteSuccess(site, pickSitePanel)
			{
				var pickOfferingSuccess = function(offering, pickOfferingPanel)
				{
					function pickSessionSuccess(session, previousPanel)
					{
						session.promiseData()
							.then(function()
								{
									try
									{
										sessionSuccess(session, previousPanel);
									}
									catch(err) { cr.syncFail(err); }
								},
								cr.syncFail);
					}
					pick_session(offering, pickOfferingPanel, pickSessionSuccess);
				}
				pick_offering(site, pickSitePanel, pickOfferingSuccess);
			}
			pick_site(organization, previousPanelNode, pickSiteSuccess);
		}
		
		function manage_session(organization, panelDiv)
		{
			pickSessionFromOrganization(organization, panelDiv, 
				function(session, previousPanel)
				{
					var controller = new SessionController(session.offering(), session, true);
					controller.oldInstance(session);
				    var panel = new SessionPanel(controller, revealPanelLeft);
				    revealPanelLeft(panel.node());
				});
		}
		
		function record_participation(organization, previousNode)
		{
			pickSessionFromOrganization(organization, previousNode, 
				function(session, previousPanel)
				{
					session.promiseEnrollments().then(
						function()
						{
							var sitePanel = new crv.SitePanel();
							sitePanel.createRoot(session, "Record Participation", "list");

							var navContainer = sitePanel.appendNavContainer();

							var backButton = navContainer.appendLeftButton()
								.on("click", function() { sitePanel.hideRightEvent(); });
							backButton.append("span").text("Done");
							var centerButton = navContainer.appendTitle("Record Participation");
			
							sitePanel.appendSearchBar(show_matching_descriptions);

							var panel2Div = sitePanel.appendScrollArea();

							var items = appendButtons(panel2Div, session.enrollments(), 
								function(enrollment)
									{
										if (prepareClick('click', 'add Experience by enrollment'))
										{
											enrollment.promiseData()
												.then(function()
												{
													addExperienceByEnrollment(session, enrollment);
												}, 
												syncFailFunction);
										}
									});
							var infoButtons = appendInfoButtons(items, function(enrollment) { return enrollment.user(); })
								.on("click", function(enrollment) {
									if (prepareClick('click', 'show enrollment info: ' + enrollment.description()))
									{
										checkUserByEnrollment(enrollment,
											function(user) {
												showUser(user, sitePanel.node());
											},
											syncFailFunction);
									}
									d3.event.preventDefault();
								});
					
							sitePanel.showLeft().then(unblockClick);
						}, cr.syncFail);
				});
		}
		
		function checkUserByEnrollment(enrollment, successFunction, failFunction)
		{
			var checkSuccessFunction = function() 
			{
				var user = enrollment.user();
				if (!user)
					failFunction("The user is not set up.");
				else
				{
					successFunction(user);
				}
			}
			enrollment.promiseData().then(checkSuccessFunction, syncFailFunction);
		}
		
	</script>
		
</html>

