<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Service Locator</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "custom_user/css/bodybackground.css" %}" rel="stylesheet">
    <link href="{% static "consentrecords/css/base.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<!-- Styles for this web page -->
    <style>
    	.sign-in-button {
    	    padding-top: 6px;
    	    padding-right: 15px;
    	}
    	.option-label {
    		margin-top: 15px;
    		margin-left: 15px;
    	}
    	.option-item {
    		margin-top: 15px;
    		margin-left: 45px;
    	}
    </style>
  </head>

  <body>
	<div id="id_panel1" class="site-panel">
		<div class="site-trio-container">
			<div class="site-trio-fill"></div>
			<span class="sign-in-button site-trio-clipped site-active-text">Sign&nbsp;In</span>
		</div>
    	<div class="site-title">Welcome to BC&YI Opportunity Source</div>
    	<div class="option-label">Ready?</div>
    	<div class="option-item">
    		<span id="id_startButton" class="site-active-text">Click&nbsp;here&nbsp;to&nbsp;find&nbsp;an&nbsp;opportunity.</span>
    	</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "d3/d3.v3.min.js" %}"></script>
	<script src="{% static "custom_user/js/bodybackground.js" %}"></script>
	<script src="{% static "custom_user/js/bootstrapalert.js" %}"></script>
	<script src="{% static "consentrecords/js/models.js" %}"></script>
	<script src="{% static "consentrecords/js/views.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
	
		var storedcsrftoken = "{{ csrf_token }}";
		var pluralName = "Services";
		var singularName = "Service";
		
		$(document).ready (function(e) {
			$("#id_startButton").on("click", handle_start_button);						
		});
		
		$(document).ready(function(e) { resetidObjectsHeight() });
		$(window).resize(function(e) { resetidObjectsHeight() });
		
		function handle_start_button()
		{
			var containerData = {
				name: pluralName, 
				zindex: 1, 
				parentPanel: document.getElementById("id_panel1")
				};
			var cell = new Cell();
			cell.field = {name: singularName,
								dataType: "_object",
								ofKindID : "{{servicesID}}" };
			cell.setup(null);
			
			show_pick_object_panel(null, cell, null, containerData);
		}
		
		resetidObjectsHeight = function()
		{
			var newHeight = window.innerHeight;
			$("#id_panel1").children().each(
				function() { if (this != document.getElementById("id_scrollableArea")) newHeight -= $(this).height(); }
			);
			$("#id_scrollableArea").height(newHeight);
			
			$(".sign-in-button").click(function(e) {
				var encodedRef = encodeURIComponent(window.location.href);
				window.location.href = "{% url 'signin' %}?backURL=" + encodedRef;
				e.preventDefault();
			});
		}
		
		$(document).ready(function(e) { resetidObjectsHeight() });
		$(window).resize(function(e) { resetidObjectsHeight() });
		
	</script>

<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
