<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static "custom_user/css/base.css" %}" rel="stylesheet">
    <link href="{% static "custom_user/css/bodybackground.css" %}" rel="stylesheet">
    <link href="{% static "consentrecords/css/base.css" %}" rel="stylesheet">
    
    <style>
    	.consent-record {
    		margin-top: 3px;
    	}
    	.consent-form-title {
    	}
    	.consent-record-accept-button {
    	}
    	.button-section {
    		background: white;
    		opacity: 0.6;
    		float: bottom;
    	}
    	.hidden-panel {
    		top: 0;
    		z-index: 2;
    	}
    	nav {
    		opacity: 0.8;
    	}
    	.level-3-panel {
    		top: 0;
    		z-index: 3;
    	}
    	.level-4-panel {
    		top: 0;
    		z-index: 4;
    	}
    	.sub-text {
    		font-size: smaller;
    	}
    	.centered-right-glyph {
			position: absolute;
			top: 50%;
			right: 12px;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			float: right;
	   	}
	   	.centered-right-2 {	/* To the left of a centered-right-glyph */
			width: auto;
			float: right;
			margin-right: 24px;
			text-align: right;
	   	}
	   	.row-button {
	   		position: relative;
	   	}
    </style>
	</head>
	
  	<body class="site-body">
  		<panel>
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<div class="pull-right">
						<div class="sign-out-button site-trio-clipped site-active-text site-navbar-link site-active-text">
							<span>Sign&nbsp;Out</span>
						</div>
					</div>
				</div>
			</nav>
			<h3> Hello, {% if user.is_authenticated %}{{ user.get_full_name }}{% else %}world{% endif %}. </h3>
			<div id="myAlert" class="alert-container"></div>
			<section class="button-section">
				<hr>
				<button id="id_find_experience_button" panelID = "id_find_experience_panel"
					class="btn row-button site-active-text show-panel-button">
					<span class="pull-left">Find a New Experience</span>
					<span class="glyphicon glyphicon-chevron-right text-muted pull-right"></span>
				</button>
				<hr>
				<button id="id_your_pathway_button" panelID = "id_your_pathway_panel"
					class="btn row-button site-active-text show-panel-button">
					<span class="pull-left">Your Pathway</span>
					<span class="glyphicon glyphicon-chevron-right text-muted pull-right"></span>
				</button>
				<hr>
				<button id="id_your_plans_button" panelID = "id_your_plans_panel"
					class="btn row-button site-active-text show-panel-button">
					<span class="pull-left">Your Plans</span>
					<span class="glyphicon glyphicon-chevron-right text-muted pull-right"></span>
				</button>
				<hr>
				<button id="id_consent_forms_button" panelID = "id_consent_forms_panel"
					class="btn row-button site-active-text show-panel-button">
					<span class="pull-left">Consent Forms</span>
					<span class="glyphicon glyphicon-chevron-right text-muted pull-right"></span>
				</button>
				<hr>
				<button id="id_sharing_button" panelID = "id_sharing_panel"
					class="btn row-button site-active-text show-panel-button">
					<span class="pull-left">Sharing</span>
					<span class="glyphicon glyphicon-chevron-right text-muted pull-right"></span>
				</button>
				<hr>
				<button id="id_settings_button" panelID = "id_settings_panel"
					class="btn row-button site-active-text show-panel-button">
					<span class="pull-left">Settings</span>
					<span class="glyphicon glyphicon-chevron-right text-muted pull-right"></span>
				</button>
				<hr>
			</section>
		</panel>
	    <panel id="id_find_experience_panel" class="hidden-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="pull-right">
						<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
							<span>+</span>
						</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Find a New Experience</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div id="id_searchArea" class="searchbar">
					<span id="id_searchCancelButton" class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
					<div id="id_searchInputContainer" class="search-input-container">
						<input id="id_searchInput" class="search-input" placeholder="Search">
						</input>
					</div>
				</div>
				<div id="id_services">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>
	    <panel id="id_find_offering_panel" class="level-3-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="pull-right">
						<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
							<span>+</span>
						</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Find a New Experience</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div class="searchbar">
					<span class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
					<div class="search-input-container">
						<input class="search-input" placeholder="Search">
						</input>
					</div>
				</div>
				<div id="id_offerings">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>
	    <panel id="id_offering_details_panel" class="level-4-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Sign-Up</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div id="id_offering_details">
				</div>
				<div id="id_action_container">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>
	    <panel id="id_your_pathway_panel" class="hidden-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="pull-right">
						<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
							<span>+</span>
						</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Your Pathway</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div id="id_pathway">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>
	    <panel id="id_your_plans_panel" class="hidden-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="pull-right">
						<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
							<span>+</span>
						</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Your Plans</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div id="id_searchArea" class="searchbar">
					<span id="id_searchCancelButton" class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
					<div id="id_searchInputContainer" class="search-input-container">
						<input id="id_searchInput" class="search-input" placeholder="Search">
						</input>
					</div>
				</div>
				<div id="id_plans">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>
	    <panel id="id_consent_forms_panel" class="hidden-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Consent Forms</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div id="id_searchArea" class="searchbar">
					<span id="id_searchCancelButton" class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
					<div id="id_searchInputContainer" class="search-input-container">
						<input id="id_searchInput" class="search-input" placeholder="Search">
						</input>
					</div>
				</div>
				<div id="id_openConsentForms">
				</div>
			</div> <!-- /container-fluid -->
			<div class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div class="searchbar">
					<span class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
					<div class="search-input-container">
						<input class="search-input" placeholder="Search">
						</input>
					</div>
				</div>
				<div id="id_openConsentForms">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>
	    <panel id="id_sharing_panel" class="hidden-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="pull-right">
						<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
							<span>+</span>
						</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Sharing</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div id="id_searchArea" class="searchbar">
					<span class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
					<div class="search-input-container">
						<input class="search-input" placeholder="Search">
						</input>
					</div>
				</div>
				<div id="id_sharing">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>
	    <panel id="id_settings_panel" class="hidden-panel configuration-panel site-panel list-panel">
			<nav class="navbar navbar-default site-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="pull-left">
						<div id="id_cancelButton" class="done-button cancel-button site-navbar-link site-active-text">Done</div>
					</div>
					<div class="pull-right">
						<div id="id_addUniversalObjectButton" class="site-navbar-link site-active-text add-button">
							<span>+</span>
						</div>
					</div>
					<div class="site-navbar-commands">
						<div class="site-title site-fill"><span class="site-inner-fill">Settings</span></div>
					</div>
				</div>
			</nav>
			<div id="id_scrollableArea" class="panel-scrolling">
				<div>
					<div class="alert-container"></div>
				</div>
				<div id="id_searchArea" class="searchbar">
					<span id="id_searchCancelButton" class="search-cancel-button site-disabled-text"><span>Cancel</span></span>
					<div id="id_searchInputContainer" class="search-input-container">
						<input id="id_searchInput" class="search-input" placeholder="Search">
						</input>
					</div>
				</div>
				<div id="id_settings">
				</div>
			</div> <!-- /container-fluid -->
	    </panel>

<!--     IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<script src="{% static "bootstrap/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  	</body>

	<script src="{% static "jquery/js/jquery.min.js" %}"></script>
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "jquerycookie/jquery.cookie.js" %}"></script>
	<script src="{% static "d3/d3.v3.min.js" %}"></script>
	<script src="{% static "custom_user/js/bodybackground.js" %}"></script>
	<script src="{% static "custom_user/js/bootstrapalert.js" %}"></script>
	<script src="{% static "consentrecords/js/models.js" %}"></script>
	<script src="{% static "consentrecords/js/views.js" %}"></script>

	<!-- Scripts for this web page -->
	<script type="text/JavaScript">
		var storedcsrftoken = "{{ csrf_token }}";

		var userInstance;
		$(document).ready (function(e) {
			$(".sign-out-button").click(function(e) {
				closealert();
				sign_out();
				
			   //stop form submission
			   e.preventDefault();
			});
			
			userInstance = new cr.ObjectValue()
			userInstance.value.id = "{{userID}}"
			userInstance.description = "{{ user.get_full_name }}"
			
			$(".show-panel-button").click(show_find_experience_panel);
			$(".done-button").click(hide_site_panel);
			
			$("#id_find_experience_panel").on("revealing", function(e, eventInfo)
				{
					show_services("#id_services");
				});
			$("#id_find_offering_panel").on("revealing", function(e, eventInfo)
				{
					datum = d3.select(this).datum();
					show_offerings(datum, "#id_offerings");
				});
			$("#id_your_pathway_panel").on("revealing", function(e, eventInfo)
			{
				show_pathway("#id_pathway");
			});
			$("#id_your_plans_panel").on("revealing", function(e, eventInfo)
			{
				show_plans("#id_plans");
			});
			$("#id_consent_forms_panel").on("revealing", function(e, eventInfo)
				{
					show_consent_records("#id_openConsentForms");
				});
						
		});
			
		function sign_out() {
			bootstrap_alert.show($('#myAlert'), "Signing Out...", "alert-info");
		    $.post("{% url 'submitSignout' %}", { csrfmiddlewaretoken: storedcsrftoken }, 
		  								function(json){
		  	if (json['success']) {
		  		window.location = "{{backURL}}"
		  	}
		  	else
				bootstrap_alert.warning(json['error']);
		  })
		  	.fail(function(jqXHR, textStatus, errorThrown)
			{
				bootstrap_alert.warning(jqXHR.status + "; " + jqXHR.statusText);
				console.log( "error: " + textStatus + "; " + errorThrown + ";");
				console.log( jqXHR.status + "; " + jqXHR.statusText);
			});
		}
		
		function show_find_experience_panel(e)
		{
			var panelDiv = d3.select("#" + d3.select(this).attr("panelID"));
			if (prepare_click())
			{
				show_click_feedback(this);
				
				window.scrollTo(0, 0);
				show_panel_left(panelDiv.node());
			}
		}
				
		function hide_site_panel(e)
		{
			if (prepare_click())
			{
				show_click_feedback(this);
				hide_panel_right($(this).parents(".site-panel")[0], false);
			}
		}
		
		function show_consent_records(containerDiv) {
			var successFunction = function(newInstances)
			{
				var divs = d3.select(containerDiv).selectAll('div')
					.data(newInstances)
					.enter()
					.append('div').classed("consent-record cell-div", true);
				
				divs.append('div').classed("consent-record-accept-button right-label-div right-fixed-width-div right-label-div site-active-text", true)
					.text("I Accept");
				divs.append('div').classed("consent-form-title left-label-div string-label-div expanding-div", true)
					.text(function(d) { 
						return d.value.cells[0].data[0].value.description;
					});
// 				newValues.sort(function(a, b)
// 					{
// 						return a.getDescription().localeCompare(b.getDescription());
// 					});
// 				
// 				layout_objects(d3.select("#id_objects"), newValues,
// 					function(d) {
// 						if (prepare_click())
// 						{
// 							show_view_object_panel(d, cell, panelDiv);
// 						}
// 					});
			}
			
			var failFunction = function(error)
			{
				bootstrap_alert.warning(error, ".alert-container");
				/* Don't unblock here, because there was no block. */
			}
			
			path = "#" + "{{userID}}" + '>"Consent Record"';
			cr.getData(path, successFunction, failFunction);
		}
		
		function show_services(containerDiv) {
			var successFunction = function(newInstances)
			{
				newInstances.sort(function(a, b)
					{
						return a.getDescription().localeCompare(b.getDescription());
					});
				
				layout_objects(d3.select("#id_services"), newInstances,
					function(d) {
						if (prepare_click())
						{
							var panelDiv = d3.select("#id_find_offering_panel");
							panelDiv.datum([d]);
							show_click_feedback(this);
				
							window.scrollTo(0, 0);
							show_panel_left(panelDiv.node());
						}
					});
			}
			
			var failFunction = function(error)
			{
				bootstrap_alert.warning(error, ".alert-container");
				/* Don't unblock here, because there was no block. */
			}
			
			path = "Service";
			cr.getValues(path, ofKindID=undefined, successFunction, failFunction);
		}
		
		function cells_get_cell_by_name(cells, name)
		{
			for (var i = 0; i < cells.length; ++i)
			{
				var cell = cells[i];
				if (cell.field.name == name)
					return cell;
			}
			return undefined;
		}
		
		function get_cell_by_name(d, name)
		{
			return cells_get_cell_by_name(d.value.cells, name);
		}
		
		/* Gets the first value of the cell within the specified instance 
			whose name equals the specified name. */
		function get_datum_by_name(d, name)
		{
			var cell = get_cell_by_name(d, name);
			if (cell)
				return cell.data[0].value;
			else
				return undefined;
		}
		
		function show_pathway(containerDiv) {
			var successFunction = function(newInstances)
			{
				var divs = d3.select(containerDiv).selectAll('div')
					.data(newInstances)
					.enter()
					.append('div').classed("consent-record cell-div", true);
				
				divs.append('div').classed("right-label-div right-fixed-width-div right-label-div", true)
					.text(function(d) {
						startDate = get_datum_by_name(d, "Start Date");
						if (startDate === undefined)
							startDate = "";
						endDate = get_datum_by_name(d, "End Date");
						if (endDate === undefined)
							endDate = "";
						if (startDate || endDate)
							connector = " - ";
						else
							connector = "";
						return startDate + connector + endDate;
					});
				divs.append('div').classed("consent-form-title left-label-div string-label-div expanding-div", true)
					.text(function(d) { 
						return get_datum_by_name(d, "Offering").description;
					});
// 				newValues.sort(function(a, b)
// 					{
// 						return a.getDescription().localeCompare(b.getDescription());
// 					});
// 				
// 				layout_objects(d3.select("#id_objects"), newValues,
// 					function(d) {
// 						if (prepare_click())
// 						{
// 							show_view_object_panel(d, cell, panelDiv);
// 						}
// 					});
			}
			
			var failFunction = function(error)
			{
				bootstrap_alert.warning(error, ".alert-container");
				/* Don't unblock here, because there was no block. */
			}
			
			var path = "#" + "{{userID}}" + '>"Experience"';
			cr.getData(path, successFunction, failFunction);
		}
		
		function show_offerings(datum, container) {
			var failFunction = function(error)
			{
				bootstrap_alert.warning(error, ".alert-container");
				/* Don't unblock here, because there was no block. */
			}

			var successFunction = function(newInstances)
			{
				// Remove any lingering contents from the set of full issues.
				var containerDiv = d3.select(container);
				containerDiv.selectAll("div").remove();

				var divs = d3.select(container).selectAll("div")
					.data(newInstances)
					.enter()
					.append("div").classed("consent-record cell-div", true);	// So that each button appears on its own row.
	
				var buttons = divs.append("button").classed("btn row-button", true)
					.on("click", show_offering_details);
				divs.append("hr");
	
				buttons.append("span")
					.classed("glyphicon glyphicon-chevron-right text-muted centered-right-glyph", true);
				var rightText = buttons.append('span').classed("centered-right-2", true);
				
				rightText.append('div')
					.text(function(d) {
						var startDate = get_datum_by_name(d, "Start Date");
						if (startDate === undefined)
							startDate = "";
						var endDate = get_datum_by_name(d, "End Date");
						if (endDate === undefined)
							endDate = "";
						var connector;
						if (startDate || endDate)
							connector = " - ";
						else
							connector = "";
						return startDate + connector + endDate;
					});
				rightText.append('div').classed("sub-text", true)
					.text(function(d) {
						var registrationDeadline = get_datum_by_name(d, "Registration Deadline");
						if (registrationDeadline)
							return "register by " + registrationDeadline;
						else
							return "";
					});
				var leftText = buttons.append('div').classed("consent-form-title left-expanding-div", true);
				
				leftText.append('div')
					.text(function(d) { 
						return get_datum_by_name(d, "_name").description;
					})
					.each(function(d) {
						var path = "#" + d.value.parentID;
						var thisText = this;
						cr.getValues(path, undefined, 
							function(newObjects) {
								d3.select(thisText).append('div').classed("sub-text", true)
									.text(newObjects[0].value.description);
							}, 
							failFunction)
					});
			}
			
			function show_offering_details(d)
			{
				if (prepare_click())
				{
					show_click_feedback(this);

					var panelDiv = d3.select("#id_offering_details_panel");
					panelDiv.datum(d);
					
					var div = panelDiv.selectAll("#id_offering_details");
					div.selectAll("div").remove();
					div.append("div")
						.text(get_datum_by_name(d, "_name").description);
					div.append("div")
						.text("Minimum Age: " + get_datum_by_name(d, "Minimum Age"));
					div.append("div")
						.text("Maximum Age: " + get_datum_by_name(d, "Maximum Age"));
					div.append("div")
						.text("Registration Deadline: " + get_datum_by_name(d, "Registration Deadline"));
					cr.getValues("#"+d.value.id+">Service", undefined, function(newInstances)
						{
							newInstances.sort(function(a, b)
								{
									return a.getDescription().localeCompare(b.getDescription());
								});
				
							div.append("div").text("Services");
							div.append("div").selectAll("div")
								.data(newInstances)
								.enter()
								.append("div")
								.text(function(d) {
									return d.getDescription();
								});
						},
						failFunction);
					var inquiriesCell = get_cell_by_name(d, "Inquiries")
					var newInstances = inquiriesCell.data;
					if (newInstances.length == 0)
						failFunction("Access Failure for Inquiries");
					else
					{
						var inquiriesInstance = newInstances[0];
						var inquiryInstance = null;
						var inquiryCell = null;
						var emailCell = null;
						var addInquiryFunction = function()
						{
							initialData = [{field: emailCell.field, data: [{ value:"{{ user.email }}"}]}];
							cr.createInstance(storedcsrftoken, 
								inquiryCell.field, 
								inquiriesInstance.value.id,
								initialData,
								function(newData)
								{
									checkInquiryFunction([newData]);
								},
								failFunction);
						}

						var checkInquiryFunction = function(newInstances)
						{
							var actionDiv = panelDiv.selectAll("#id_action_container");
							actionDiv.selectAll("div").remove();
							buttonDiv = actionDiv.append("div")
								.classed("sign-up-button site-active-text", true);
				
							if (newInstances.length > 0)
							{
								inquiryInstance = newInstances[0];
								buttonDiv.text("Delete Inquiry");
							}
							else
							{
								inquiryInstance = null;
								buttonDiv.text("Add My Name");
								buttonDiv.on("click", function(e)
									{
										if (prepare_click())
										{
											show_click_feedback(this);
											
											if (inquiryCell && emailCell)
											{
												addInquiryFunction();
											}
											else
											{
												cr.getConfiguration(inquiriesCell.field.ofKindID, 
													function(cells)
													{
														inquiryCell = cells_get_cell_by_name(cells, "Inquiry");
														cr.getConfiguration(inquiryCell.field.ofKindID,
															function(cells)
															{
																emailCell = cells_get_cell_by_name(cells, "_email");
																addInquiryFunction();
															},
															failFunction);
													}, 
													failFunction);
											}
											unblock_click();
										}
										d3.event.preventDefault();
									});
							}
						};
							
						cr.getValues("#" + inquiriesInstance.value.id + ">Inquiry[_email={{ user.email }}]",
							undefined,
							checkInquiryFunction,
							failFunction);
					}
		
					window.scrollTo(0, 0);
					show_panel_left(panelDiv.node());
				}
			}
						
			var currentDate = new Date();
			var todayString = currentDate.toISOString().substring(0, 10);
			var path = "#" + datum[0].value.id + '::reference(Offering):not(["Registration Deadline"<"' + todayString + '"])';
			cr.getData(path, successFunction, failFunction);
		}
		
		function show_plans(containerDiv) {
			var successFunction = function(newInstances)
			{
				var divs = d3.select(containerDiv).selectAll('div')
					.data(newInstances)
					.enter()
					.append('div').classed("consent-record cell-div", true);
				
				divs.append('div').classed("consent-record-accept-button right-label-div right-fixed-width-div right-label-div", true)
					.text(function(d) {
						startDate = get_datum_by_name(d, "Start Date");
						if (startDate === undefined)
							startDate = "";
						endDate = get_datum_by_name(d, "End Date");
						if (endDate === undefined)
							endDate = "";
						if (startDate || endDate)
							connector = " - ";
						else
							connector = "";
						return startDate + connector + endDate;
					});
				divs.append('div').classed("consent-form-title left-label-div string-label-div expanding-div", true)
					.text(function(d) { 
						return get_datum_by_name(d, "_name").description;
					});
// 				newValues.sort(function(a, b)
// 					{
// 						return a.getDescription().localeCompare(b.getDescription());
// 					});
// 				
// 				layout_objects(d3.select("#id_objects"), newValues,
// 					function(d) {
// 						if (prepare_click())
// 						{
// 							show_view_object_panel(d, cell, panelDiv);
// 						}
// 					});
			}
			
			var failFunction = function(error)
			{
				bootstrap_alert.warning(error, ".alert-container");
				/* Don't unblock here, because there was no block. */
			}
			
			path = "#{{userID}}::reference(Enrollment)::reference(Offering)";
			cr.getData(path, successFunction, failFunction);
		}
		
	</script>
		
</html>

